<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>kingspider_moving_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {149, 115}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{149, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 230}, {149, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 20}, {149, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{149, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 115}, {149, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 25}, {145, 107}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{145, 107}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 565}, {145, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 24}, {145, 109}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{145, 109}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 227}, {145, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 23}, {145, 111}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{145, 111}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 115}, {145, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 22}, {145, 113}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{145, 113}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{449, 230}, {145, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 21}, {145, 113}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{145, 113}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{448, 115}, {145, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {145, 115}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{145, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 344}, {145, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {145, 115}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{145, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 462}, {145, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {145, 115}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{145, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{591, 343}, {145, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {145, 115}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{145, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 0}, {145, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {147, 115}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{147, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 346}, {147, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {149, 113}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{149, 113}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 115}, {149, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {147, 115}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{147, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 344}, {147, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {149, 115}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{149, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{453, 0}, {149, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {149, 115}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{149, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 115}, {149, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {149, 115}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{149, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 0}, {149, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {149, 115}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{149, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 0}, {149, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {149, 115}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{149, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 231}, {149, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 18}, {153, 115}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{153, 115}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {153, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 18}, {151, 113}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{151, 113}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 230}, {151, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 20}, {145, 111}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{145, 111}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 346}, {145, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 22}, {145, 109}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{145, 109}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 459}, {145, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 24}, {145, 107}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{145, 107}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{591, 459}, {145, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 26}, {145, 105}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{145, 105}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 459}, {145, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_moving_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 26}, {143, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{143, 105}</string>
			<key>spriteSourceSize</key>
			<string>{161, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{145, 569}, {143, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{768, 768}</string>
		<key>name</key>
		<string>kingspider_moving</string>
		<key>textureFileName</key>
		<string>kingspider_moving.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>
