<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>kingspider_idle_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 0}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{106, 83}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{529, 81}, {106, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 483}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 79}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 565}, {106, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 323}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 486}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 81}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 243}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 0}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{529, 0}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 0}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{106, 83}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 0}, {106, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 81}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{106, 83}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 81}, {106, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 81}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 324}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 162}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 79}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 242}, {106, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 162}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 484}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 242}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 242}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 81}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 323}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 79}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 404}, {106, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 567}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 243}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 162}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 405}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {106, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 79}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{529, 242}, {106, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 162}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{529, 162}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 403}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_idle_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {106, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{106, 81}</string>
			<key>spriteSourceSize</key>
			<string>{134, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 162}, {106, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{656, 656}</string>
		<key>name</key>
		<string>kingspider_idle</string>
		<key>textureFileName</key>
		<string>kingspider_idle.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>
