<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>mushroom_attcked_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {69, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{69, 75}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{220, 74}, {69, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {69, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{69, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 222}, {69, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {75, 71}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{75, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {75, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 11}, {75, 69}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{75, 69}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 70}, {75, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {75, 69}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{75, 69}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 74}, {75, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 14}, {75, 67}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{75, 67}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 139}, {75, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 15}, {75, 65}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{75, 65}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 142}, {75, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 16}, {75, 63}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{75, 63}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 205}, {75, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 15}, {73, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{73, 65}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 269}, {73, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {71, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{71, 69}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 333}, {71, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {69, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{69, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{361, 74}, {69, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {69, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{69, 75}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 148}, {69, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {69, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{69, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 74}, {69, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {69, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{69, 75}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 222}, {69, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {69, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{69, 75}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 350}, {69, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {69, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{69, 75}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 292}, {69, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {69, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{69, 75}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 403}, {69, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {69, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{69, 75}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{219, 0}, {69, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {69, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{69, 75}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{289, 0}, {69, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {69, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{69, 75}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 0}, {69, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {71, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{71, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 74}, {71, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {71, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{71, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 0}, {71, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {71, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{71, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 0}, {71, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {73, 73}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{73, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 277}, {73, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 8}, {73, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{73, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 219}, {73, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 9}, {73, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{73, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 148}, {73, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attcked_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {73, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{73, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 206}, {73, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>mushroom_attacked</string>
		<key>textureFileName</key>
		<string>mushroom_attacked.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>