<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>mushroom_idle_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 144}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 144}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 145}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 215}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 216}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 215}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 144}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 72}, {67, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 72}, {67, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 0}, {67, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 0}, {67, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 0}, {67, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 144}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 72}, {67, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 144}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 216}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 215}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 216}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 72}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 0}, {67, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 0}, {67, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {67, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 0}, {67, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 73}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 72}, {67, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{77, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 72}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>mushroom_idle</string>
		<key>textureFileName</key>
		<string>mushroom_idle.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>