<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>spider_attacking_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 229}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 306}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {101, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{101, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{307, 0}, {101, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {101, 76}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{101, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{409, 76}, {101, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 157}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 152}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 384}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{203, 153}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 311}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{99, 233}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 77}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 234}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{103, 79}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 308}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 156}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299, 231}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 307}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 230}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{99, 310}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {101, 80}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{101, 80}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{103, 0}, {101, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {101, 80}}</string>
			<key>spriteOffset</key>
			<string>{-2, 5}</string>
			<key>spriteSize</key>
			<string>{101, 80}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {101, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 12}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 154}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {101, 76}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{101, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{409, 0}, {101, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {101, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{101, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 0}, {101, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 77}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 80}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>spider_attacking</string>
		<key>textureFileName</key>
		<string>spider_attacking.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>