<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>spider_moving_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{99, 153}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 13}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 77}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 16}, {97, 72}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{97, 72}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 377}, {97, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 16}, {97, 72}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{97, 72}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 151}, {97, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 15}, {97, 74}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{97, 74}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 77}, {97, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 14}, {97, 76}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{97, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299, 153}, {97, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 14}, {97, 76}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{97, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299, 77}, {97, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {97, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{97, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{297, 229}, {97, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {97, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{97, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 308}, {97, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {97, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{97, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{394, 229}, {97, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {97, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{97, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 0}, {97, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {97, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{97, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 231}, {97, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {101, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{101, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{99, 77}, {101, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 229}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 0}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 77}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{103, 0}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 0}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {99, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{99, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 154}, {99, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {103, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{103, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {103, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 153}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 13}, {97, 74}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{97, 74}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 231}, {97, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 14}, {97, 74}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{97, 74}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 306}, {97, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 16}, {97, 72}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{97, 72}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{394, 306}, {97, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 17}, {97, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{97, 70}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 306}, {97, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {97, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{97, 72}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 379}, {97, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>spider_moving</string>
		<key>textureFileName</key>
		<string>spider_moving.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>