<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>spider_attacked_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {101, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{101, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 0}, {101, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {101, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{101, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 76}, {101, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 304}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 153}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 153}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 304}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 153}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 228}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{99, 229}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 304}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 304}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 229}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 77}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299, 153}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 380}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{99, 304}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 379}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 228}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 228}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{101, 77}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 153}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {99, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{99, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{99, 380}, {99, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {101, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{101, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 77}, {101, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {103, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{103, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 0}, {103, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {107, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{107, 78}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {107, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {101, 76}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{101, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 0}, {101, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>spider_attacked</string>
		<key>textureFileName</key>
		<string>spider_attacked.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>