<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>girl_moving_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {125, 178}}</string>
			<key>spriteOffset</key>
			<string>{-3, 4}</string>
			<key>spriteSize</key>
			<string>{125, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 538}, {125, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 896}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {123, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{123, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{506, 896}, {123, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {123, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{123, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 896}, {123, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 718}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 540}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 718}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{635, 894}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{891, 360}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 718}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{889, 894}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {125, 178}}</string>
			<key>spriteOffset</key>
			<string>{-3, 4}</string>
			<key>spriteSize</key>
			<string>{125, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{383, 360}, {125, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 180}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {125, 178}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{125, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 358}, {125, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {125, 178}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{125, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 538}, {125, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {125, 178}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{125, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 180}, {125, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {125, 178}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{125, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{641, 180}, {125, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {125, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{125, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 360}, {125, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {125, 178}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{125, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 180}, {125, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{508, 540}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 898}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{889, 716}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {123, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{123, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{631, 1072}, {123, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {123, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{123, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 1072}, {123, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 720}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{635, 716}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{764, 360}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{762, 894}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{891, 538}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {125, 178}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{125, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 540}, {125, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{637, 538}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {125, 178}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{125, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 358}, {125, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {125, 178}}</string>
			<key>spriteOffset</key>
			<string>{-3, 4}</string>
			<key>spriteSize</key>
			<string>{125, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{510, 360}, {125, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 180}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 180}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {125, 178}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{125, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{514, 180}, {125, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {125, 178}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{125, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{895, 180}, {125, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{762, 716}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{508, 718}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{764, 538}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{637, 360}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {125, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{125, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 896}, {125, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>girl_moving</string>
		<key>textureFileName</key>
		<string>girl_moving.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>