<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireBall0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,282},{166,72}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{166,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fireBall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{176,70}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{176,70}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fireBall10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,70}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{180,70}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fireBall11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,142},{152,72}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{152,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fireBall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{168,66}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{168,66}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fireBall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,212},{172,68}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{172,68}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fireBall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{174,68}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{174,68}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fireBall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,66}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{180,66}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fireBall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,142},{174,68}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{174,68}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fireBall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,216},{156,70}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{156,70}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fireBall8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{166,70}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{166,70}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>fireBall9.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,70},{178,70}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{178,70}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fireBall-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:068e008dd4853815dc2e0d3f907f93ef$</string>
            <key>textureFileName</key>
            <string>fireBall-hd.png</string>
        </dict>
    </dict>
</plist>
