<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iceCrystalize0.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,464},{42,44}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,78},{42,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>iceCrystalize1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,65},{54,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>iceCrystalize10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{152,156}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{152,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>iceCrystalize11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,154}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{160,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>iceCrystalize12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{146,160}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{146,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>iceCrystalize2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,140},{122,132}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{122,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>iceCrystalize3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,388},{94,96}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,51},{94,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>iceCrystalize4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,274},{104,112}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,41},{104,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>iceCrystalize5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,274},{112,128}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{112,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>iceCrystalize6.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{122,136}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{122,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>iceCrystalize7.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,316},{134,146}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{134,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>iceCrystalize8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,158},{140,156}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{140,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>iceCrystalize9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{150,154}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{150,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceCrystalize-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b0d655de80723c7cf295157bdbd85ab$</string>
            <key>textureFileName</key>
            <string>iceCrystalize-hd.png</string>
        </dict>
    </dict>
</plist>
