<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iceField0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2468,584},{550,224}}</string>
                <key>offset</key>
                <string>{0,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,224}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2210,1290},{550,248}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,248}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField10.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1570},{390,390}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{390,390}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{550,398}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,398}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{550,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,400}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,400}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{550,396}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,396}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,392},{390,388}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{390,388}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{390,388}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{390,388}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1562},{550,388}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,388}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1172},{550,388}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,388}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,782},{550,388}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,388}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2050,314},{550,268}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,268}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField20.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1178},{550,390}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,390}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField21.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,786},{550,390}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,390}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,392},{550,388}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,388}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{550,388}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,388}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField24.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1570},{550,388}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,388}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField25.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,394},{550,390}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,390}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField26.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{550,390}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,390}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2050,1556},{550,382}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,382}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{550,392}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,392}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,1170},{550,384}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,384}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2210,1034},{550,254}}</string>
                <key>offset</key>
                <string>{0,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,254}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,782},{550,386}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,386}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2356,2},{550,262}}</string>
                <key>offset</key>
                <string>{0,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,262}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2050,584},{172,190}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,112},{172,190}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2468,810},{186,214}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,104},{186,214}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2210,776},{256,256}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,73},{256,256}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>iceField9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2050,2},{304,310}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,48},{304,310}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceField-hd.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6cf1569ea79aa6b51fa298d302a83ae$</string>
            <key>textureFileName</key>
            <string>iceField-hd.png</string>
        </dict>
    </dict>
</plist>
