<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iceSpear0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,498},{190,99}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{190,99}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,235},{210,97}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{210,97}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{200,69}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{200,69}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{214,65}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{214,65}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear12.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,77},{214,69}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{214,69}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{210,63}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{210,63}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear14.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{214,73}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{214,73}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{212,95}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{212,95}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{208,95}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{208,95}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,334},{204,93}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{204,93}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{190,95}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{190,95}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear6.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,148},{212,85}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{212,85}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,77}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{218,77}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{204,71}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{204,71}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
            <key>iceSpear9.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,429},{202,67}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{202,67}}</string>
                <key>sourceSize</key>
                <string>{218,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceSpear-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4192365e6ac1ca097f7258f422c817a$</string>
            <key>textureFileName</key>
            <string>iceSpear-hd.png</string>
        </dict>
    </dict>
</plist>
