<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>teleport0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,182}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{111,182}}</string>
                <key>sourceSize</key>
                <string>{135,190}</string>
            </dict>
            <key>teleport1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{101,160}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{101,160}}</string>
                <key>sourceSize</key>
                <string>{115,162}</string>
            </dict>
            <key>teleport2.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,164},{85,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,133}}</string>
                <key>sourceSize</key>
                <string>{95,133}</string>
            </dict>
            <key>teleport3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{66,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,105}}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>teleport4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>teleport-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:affb84c99e4251f8799e34e1b9d3e66e$</string>
            <key>textureFileName</key>
            <string>teleport-hd.png</string>
        </dict>
    </dict>
</plist>
