<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boy_idle_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 178}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 267}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 176}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 0}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{391, 0}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 89}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 88}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 88}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{167, 264}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{167, 176}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{113, 352}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 354}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{335, 176}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 0}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 266}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{111, 176}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{111, 264}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{55, 0}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 88}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{55, 88}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 356}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 178}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{279, 0}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 88}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{169, 352}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 0}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 264}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{279, 176}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 264}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 352}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{225, 352}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{279, 88}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 0}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{447, 0}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 264}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>boy_idle</string>
		<key>textureFileName</key>
		<string>boy_idle.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>