<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boy_dead_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 445}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 356}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 88}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 89}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 176}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 356}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 623}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 623}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 87}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{58, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 452}, {58, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 96}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 356}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 185}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{375, 0}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 96}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 897}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 89}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 267}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 0}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 719}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 185}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 178}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 0}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 541}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 177}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 541}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 363}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 630}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 363}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 808}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 274}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 897}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 452}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 808}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 630}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 264}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 719}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 274}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 445}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 534}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 711}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 95}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 288}, {72, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 445}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 178}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 89}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 800}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 0}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 889}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_51.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 95}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 384}, {72, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 889}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_53.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 267}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 889}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 711}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 0}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_57.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 711}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 534}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_59.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 800}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 534}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 800}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_61.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 95}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 192}, {72, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_62.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 95}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 0}, {72, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_63.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 95}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 672}, {72, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 95}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 864}, {72, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_65.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 95}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 576}, {72, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_66.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 95}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {72, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_67.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 95}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 768}, {72, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 95}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 96}, {72, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_69.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 95}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 480}, {72, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 623}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 265}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{359, 353}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>boy_dead</string>
		<key>textureFileName</key>
		<string>boy_dead.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>