<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boy_moving_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {58, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{58, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 0}, {58, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {58, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{58, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{57, 88}, {58, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{401, 174}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 89}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{57, 352}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{57, 176}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 178}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 267}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {58, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{58, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 356}, {58, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {58, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{58, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 88}, {58, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {58, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{58, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 176}, {58, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {58, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{58, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 176}, {58, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {58, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{58, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 264}, {58, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {58, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{58, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 0}, {58, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {58, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{58, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{401, 87}, {58, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 174}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 88}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 175}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{401, 0}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 350}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{343, 349}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 262}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 0}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 87}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 89}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 352}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 88}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{57, 264}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 0}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {58, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{58, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 352}, {58, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 264}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{56, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{57, 0}, {56, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 0}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 261}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 177}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 265}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>boy_moving</string>
		<key>textureFileName</key>
		<string>boy_moving.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>