<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>girl_fire_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{187, 0}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{125, 360}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {58, 89}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{58, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 90}, {58, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {58, 91}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{58, 91}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 90}, {58, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {58, 91}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{58, 91}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 181}, {58, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {58, 91}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{58, 91}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 90}, {58, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {60, 91}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{60, 91}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 181}, {60, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {60, 91}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{60, 91}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{187, 360}, {60, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 181}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {62, 91}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 91}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 360}, {62, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 90}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{187, 270}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{125, 90}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 91}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{187, 90}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 361}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{187, 180}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 270}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{125, 180}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{437, 0}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{375, 0}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 0}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{125, 270}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{125, 0}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 271}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 0}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 180}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 0}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {60, 91}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{60, 91}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 360}, {60, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_fire_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 1}, {60, 89}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{60, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 90}, {60, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>girl_fire</string>
		<key>textureFileName</key>
		<string>girl_fire.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>