<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>girl_attacking_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{315, 181}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 181}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 3}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 361}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 3}, {62, 91}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 91}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{441, 181}, {62, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 361}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 4}, {64, 89}}</string>
			<key>spriteOffset</key>
			<string>{8, -1}</string>
			<key>spriteSize</key>
			<string>{64, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 90}, {64, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {68, 89}}</string>
			<key>spriteOffset</key>
			<string>{6, -1}</string>
			<key>spriteSize</key>
			<string>{68, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 90}, {68, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {76, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{76, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 90}, {76, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {78, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{78, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 0}, {78, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {78, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{78, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {78, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {78, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{78, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{78, 0}, {78, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {78, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{78, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 0}, {78, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 3}, {62, 91}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 91}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 271}, {62, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {78, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{78, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 0}, {78, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {78, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{78, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 0}, {78, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 4}, {70, 89}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{70, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{77, 90}, {70, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 181}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{189, 450}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 451}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 451}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{315, 271}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{189, 270}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 271}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 3}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{441, 361}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{315, 361}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{189, 360}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 361}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 361}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 271}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 361}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 271}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{189, 180}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 271}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 451}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {62, 91}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{62, 91}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 180}, {62, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{441, 271}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 451}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {62, 91}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{62, 91}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 180}, {62, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {62, 91}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{62, 91}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{407, 90}, {62, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {62, 91}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{62, 91}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{281, 90}, {62, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {62, 91}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{62, 91}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 180}, {62, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacking_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 3}, {62, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{62, 89}</string>
			<key>spriteSourceSize</key>
			<string>{80, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 90}, {62, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>girl_attacking</string>
		<key>textureFileName</key>
		<string>girl_attacking.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>