<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>mushroom_moving_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{67, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 162}, {67, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {67, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{67, 84}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 0}, {67, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{67, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 172}, {67, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{67, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 81}, {67, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{67, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 83}, {67, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{67, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 164}, {67, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {67, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{67, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 0}, {67, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{67, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 170}, {67, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{67, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 85}, {67, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {67, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{67, 84}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 86}, {67, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {67, 86}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 86}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 0}, {67, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {67, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{67, 90}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {67, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {67, 88}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{67, 88}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 0}, {67, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {67, 86}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{67, 86}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 0}, {67, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {67, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{67, 84}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 87}, {67, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{67, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 89}, {67, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{67, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 167}, {67, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {67, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{67, 82}</string>
			<key>spriteSourceSize</key>
			<string>{77, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 169}, {67, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>mushroom_moving</string>
		<key>textureFileName</key>
		<string>mushroom_moving.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>