<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boy_casting_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{272, 0}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 0}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{272, 89}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 88}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 89}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{163, 89}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 89}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 177}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {52, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{52, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{53, 177}, {52, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 87}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{52, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 443}, {52, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{52, 265}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 176}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157, 266}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{422, 265}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 354}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 177}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 266}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 355}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 266}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 177}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 265}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 264}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 89}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 354}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{159, 177}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 177}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{367, 353}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{315, 353}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{209, 355}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 442}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 3}, {50, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{50, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{363, 442}, {50, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 3}, {50, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{50, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157, 355}, {50, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 3}, {50, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{50, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 531}, {50, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 88}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 355}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{52, 443}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 264}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{52, 354}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 266}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {52, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 176}, {52, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 0}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 0}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 0}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{163, 0}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 88}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 0}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 89}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 176}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{72, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 0}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>boy_casting</string>
		<key>textureFileName</key>
		<string>boy_casting.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>