<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>girl_dead_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 96}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{407, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 186}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 364}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 276}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 537}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 454}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 364}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 186}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 359}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 270}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 186}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 359}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 537}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 275}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 276}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 454}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 186}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 365}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 275}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 96}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 453}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 95}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 0}, {67, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 275}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 448}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 453}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 364}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 365}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 95}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {67, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 453}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 448}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 96}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 270}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 95}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 0}, {67, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 95}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 0}, {67, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 95}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 0}, {67, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 91}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{407, 90}, {63, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 96}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 96}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 186}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>girl_dead</string>
		<key>textureFileName</key>
		<string>girl_dead.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>