<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>girl_attacked_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 447}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 268}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 358}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 269}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 357}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 179}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 358}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 269}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 447}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 447}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 447}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 269}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 358}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 358}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 447}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 269}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 447}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 446}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 358}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 358}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 269}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 269}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 91}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 90}, {63, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>girl_attacked</string>
		<key>textureFileName</key>
		<string>girl_attacked.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>