<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>girl_casting_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 543}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 813}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{66, 88}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 724}, {66, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{66, 88}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 903}, {66, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{66, 88}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 813}, {66, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{66, 88}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 724}, {66, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {66, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{66, 88}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{277, 543}, {66, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {68, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{68, 88}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 542}, {68, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{70, 88}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 452}, {70, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 362}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 181}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 90}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 812}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 0}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{71, 90}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 90}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{71, 0}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 0}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{357, 90}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 0}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{429, 0}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{429, 90}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 813}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 90}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 90}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{357, 0}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{71, 181}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 271}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 362}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 362}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{141, 362}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 271}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 271}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{393, 724}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 181}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 271}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 362}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 271}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{141, 271}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{353, 181}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 271}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 181}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 362}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 181}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{66, 88}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 903}, {66, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{283, 181}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_51.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{69, 452}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{422, 452}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_53.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 452}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 362}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {70, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{70, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 451}, {70, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {68, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{68, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{139, 452}, {68, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_57.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {68, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{68, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 452}, {68, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 542}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_59.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 543}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{66, 88}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 902}, {66, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 633}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_61.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 543}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_62.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 722}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_63.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 633}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 632}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_65.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 633}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_66.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{393, 633}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_67.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 632}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 543}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_69.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 723}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{66, 88}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 812}, {66, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 631}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_71.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 723}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{66, 88}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 724}, {66, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_casting_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {66, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{66, 88}</string>
			<key>spriteSourceSize</key>
			<string>{72, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 902}, {66, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>girl_casting</string>
		<key>textureFileName</key>
		<string>girl_casting.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>