<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>spell_fireball_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 27}, {46, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{46, 50}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{297, 330}, {46, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 14}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 252}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 11}, {72, 78}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{72, 78}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 80}, {72, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 7}, {72, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{72, 82}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 89}, {72, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 16}, {66, 74}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{66, 74}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 80}, {66, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 13}, {64, 80}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{64, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 0}, {64, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 9}, {64, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{64, 88}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{101, 0}, {64, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 6}, {62, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{62, 94}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 101}, {62, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 24}, {62, 76}}</string>
			<key>spriteOffset</key>
			<string>{-2, -12}</string>
			<key>spriteSize</key>
			<string>{62, 76}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 388}, {62, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 24}, {66, 72}}</string>
			<key>spriteOffset</key>
			<string>{-2, -10}</string>
			<key>spriteSize</key>
			<string>{66, 72}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 259}, {66, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 27}, {72, 72}}</string>
			<key>spriteOffset</key>
			<string>{-2, -13}</string>
			<key>spriteSize</key>
			<string>{72, 72}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 0}, {72, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {52, 52}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{52, 52}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 332}, {52, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 29}, {72, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -13}</string>
			<key>spriteSize</key>
			<string>{72, 68}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 72}, {72, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 28}, {70, 70}}</string>
			<key>spriteOffset</key>
			<string>{-4, -13}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 155}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 29}, {78, 62}}</string>
			<key>spriteOffset</key>
			<string>{-4, -10}</string>
			<key>spriteSize</key>
			<string>{78, 62}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 196}, {78, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 29}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{66, 66}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 330}, {66, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 26}, {72, 72}}</string>
			<key>spriteOffset</key>
			<string>{7, -12}</string>
			<key>spriteSize</key>
			<string>{72, 72}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 326}, {72, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 24}, {78, 60}}</string>
			<key>spriteOffset</key>
			<string>{7, -4}</string>
			<key>spriteSize</key>
			<string>{78, 60}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 388}, {78, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 28}, {86, 58}}</string>
			<key>spriteOffset</key>
			<string>{7, -7}</string>
			<key>spriteSize</key>
			<string>{86, 58}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 329}, {86, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 28}, {88, 62}}</string>
			<key>spriteOffset</key>
			<string>{6, -9}</string>
			<key>spriteSize</key>
			<string>{88, 62}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 267}, {88, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 28}, {48, 46}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{48, 46}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{314, 226}, {48, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 22}, {58, 58}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 160}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 18}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 0}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 12}, {76, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{76, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 0}, {76, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 12}, {84, 80}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{84, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 101}, {84, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 12}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 172}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {80, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{80, 84}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 183}, {80, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 12}, {76, 78}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{76, 78}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 252}, {76, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>spell_fireball</string>
		<key>textureFileName</key>
		<string>spell_fireball.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>
