<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>mushroom_idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>mushroom_idle_0.png</string>
				<string>mushroom_idle_1.png</string>
				<string>mushroom_idle_2.png</string>
				<string>mushroom_idle_3.png</string>
				<string>mushroom_idle_4.png</string>
				<string>mushroom_idle_5.png</string>
				<string>mushroom_idle_6.png</string>
				<string>mushroom_idle_7.png</string>
				<string>mushroom_idle_8.png</string>
				<string>mushroom_idle_9.png</string>
				<string>mushroom_idle_10.png</string>
				<string>mushroom_idle_11.png</string>
				<string>mushroom_idle_12.png</string>
				<string>mushroom_idle_13.png</string>
				<string>mushroom_idle_14.png</string>
				<string>mushroom_idle_15.png</string>
				<string>mushroom_idle_16.png</string>
				<string>mushroom_idle_17.png</string>
				<string>mushroom_idle_18.png</string>
				<string>mushroom_idle_19.png</string>
				<string>mushroom_idle_20.png</string>
				<string>mushroom_idle_21.png</string>
				<string>mushroom_idle_22.png</string>
				<string>mushroom_idle_23.png</string>
				<string>mushroom_idle_24.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>mushroom_moving</key>
		<dict>
			<key>frames</key>
			<array>
				<string>mushroom_moving_0.png</string>
				<string>mushroom_moving_1.png</string>
				<string>mushroom_moving_2.png</string>
				<string>mushroom_moving_3.png</string>
				<string>mushroom_moving_4.png</string>
				<string>mushroom_moving_5.png</string>
				<string>mushroom_moving_6.png</string>
				<string>mushroom_moving_7.png</string>
				<string>mushroom_moving_8.png</string>
				<string>mushroom_moving_9.png</string>
				<string>mushroom_moving_10.png</string>
				<string>mushroom_moving_11.png</string>
				<string>mushroom_moving_12.png</string>
				<string>mushroom_moving_13.png</string>
				<string>mushroom_moving_14.png</string>
				<string>mushroom_moving_15.png</string>
				<string>mushroom_moving_16.png</string>
				<string>mushroom_moving_17.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>mushroom_attacking</key>
		<dict>
			<key>frames</key>
			<array>
				<string>mushroom_attacking_0.png</string>
				<string>mushroom_attacking_1.png</string>
				<string>mushroom_attacking_2.png</string>
				<string>mushroom_attacking_3.png</string>
				<string>mushroom_attacking_4.png</string>
				<string>mushroom_attacking_5.png</string>
				<string>mushroom_attacking_6.png</string>
				<string>mushroom_attacking_7.png</string>
				<string>mushroom_attacking_8.png</string>
				<string>mushroom_attacking_9.png</string>
				<string>mushroom_attacking_10.png</string>
				<string>mushroom_attacking_11.png</string>
				<string>mushroom_attacking_12.png</string>
				<string>mushroom_attacking_13.png</string>
				<string>mushroom_attacking_14.png</string>
				<string>mushroom_attacking_15.png</string>
				<string>mushroom_attacking_16.png</string>
				<string>mushroom_attacking_17.png</string>
				<string>mushroom_attacking_18.png</string>
				<string>mushroom_attacking_19.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>mushroom_dead</key>
		<dict>
			<key>frames</key>
			<array>
				<string>mushroom_dead_0.png</string>
				<string>mushroom_dead_1.png</string>
				<string>mushroom_dead_2.png</string>
				<string>mushroom_dead_3.png</string>
				<string>mushroom_dead_4.png</string>
				<string>mushroom_dead_5.png</string>
				<string>mushroom_dead_6.png</string>
				<string>mushroom_dead_7.png</string>
				<string>mushroom_dead_8.png</string>
				<string>mushroom_dead_9.png</string>
				<string>mushroom_dead_10.png</string>
				<string>mushroom_dead_11.png</string>
				<string>mushroom_dead_12.png</string>
				<string>mushroom_dead_13.png</string>
				<string>mushroom_dead_14.png</string>
				<string>mushroom_dead_15.png</string>
				<string>mushroom_dead_16.png</string>
				<string>mushroom_dead_17.png</string>
				<string>mushroom_dead_18.png</string>
				<string>mushroom_dead_19.png</string>
				<string>mushroom_dead_20.png</string>
				<string>mushroom_dead_21.png</string>
				<string>mushroom_dead_22.png</string>
				<string>mushroom_dead_23.png</string>
				<string>mushroom_dead_24.png</string>
				<string>mushroom_dead_25.png</string>
				<string>mushroom_dead_26.png</string>
				<string>mushroom_dead_27.png</string>
				<string>mushroom_dead_28.png</string>
				<string>mushroom_dead_29.png</string>
				<string>mushroom_dead_30.png</string>
				<string>mushroom_dead_31.png</string>
				<string>mushroom_dead_32.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>mushroom_attacked</key>
		<dict>
			<key>frames</key>
			<array>
				<string>mushroom_attacked_0.png</string>
				<string>mushroom_attacked_1.png</string>
				<string>mushroom_attacked_2.png</string>
				<string>mushroom_attacked_3.png</string>
				<string>mushroom_attacked_4.png</string>
				<string>mushroom_attacked_5.png</string>
				<string>mushroom_attacked_6.png</string>
				<string>mushroom_attacked_7.png</string>
				<string>mushroom_attacked_8.png</string>
				<string>mushroom_attacked_9.png</string>
				<string>mushroom_attacked_10.png</string>
				<string>mushroom_attacked_11.png</string>
				<string>mushroom_attacked_12.png</string>
				<string>mushroom_attacked_13.png</string>
				<string>mushroom_attacked_14.png</string>
				<string>mushroom_attacked_15.png</string>
				<string>mushroom_attacked_16.png</string>
				<string>mushroom_attacked_17.png</string>
				<string>mushroom_attacked_18.png</string>
				<string>mushroom_attacked_19.png</string>
				<string>mushroom_attacked_20.png</string>
				<string>mushroom_attacked_21.png</string>
				<string>mushroom_attacked_22.png</string>
				<string>mushroom_attacked_23.png</string>
				<string>mushroom_attacked_24.png</string>
				<string>mushroom_attacked_25.png</string>
				<string>mushroom_attacked_26.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>spider_idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>spider_idle_0.png</string>
				<string>spider_idle_1.png</string>
				<string>spider_idle_2.png</string>
				<string>spider_idle_3.png</string>
				<string>spider_idle_4.png</string>
				<string>spider_idle_5.png</string>
				<string>spider_idle_6.png</string>
				<string>spider_idle_7.png</string>
				<string>spider_idle_8.png</string>
				<string>spider_idle_9.png</string>
				<string>spider_idle_10.png</string>
				<string>spider_idle_11.png</string>
				<string>spider_idle_12.png</string>
				<string>spider_idle_13.png</string>
				<string>spider_idle_14.png</string>
				<string>spider_idle_15.png</string>
				<string>spider_idle_16.png</string>
				<string>spider_idle_17.png</string>
				<string>spider_idle_18.png</string>
				<string>spider_idle_19.png</string>
				<string>spider_idle_20.png</string>
				<string>spider_idle_21.png</string>
				<string>spider_idle_22.png</string>
				<string>spider_idle_23.png</string>
				<string>spider_idle_24.png</string>
				<string>spider_idle_25.png</string>
				<string>spider_idle_26.png</string>
				<string>spider_idle_27.png</string>
				<string>spider_idle_28.png</string>
				<string>spider_idle_29.png</string>
				<string>spider_idle_30.png</string>
				<string>spider_idle_31.png</string>
				<string>spider_idle_32.png</string>
				<string>spider_idle_33.png</string>
				<string>spider_idle_34.png</string>

			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>spider_moving</key>
		<dict>
			<key>frames</key>
			<array>
				<string>spider_moving_0.png</string>
				<string>spider_moving_1.png</string>
				<string>spider_moving_2.png</string>
				<string>spider_moving_3.png</string>
				<string>spider_moving_4.png</string>
				<string>spider_moving_5.png</string>
				<string>spider_moving_6.png</string>
				<string>spider_moving_7.png</string>
				<string>spider_moving_8.png</string>
				<string>spider_moving_9.png</string>
				<string>spider_moving_10.png</string>
				<string>spider_moving_11.png</string>
				<string>spider_moving_12.png</string>
				<string>spider_moving_13.png</string>
				<string>spider_moving_14.png</string>
				<string>spider_moving_15.png</string>
				<string>spider_moving_16.png</string>
				<string>spider_moving_17.png</string>
				<string>spider_moving_18.png</string>
				<string>spider_moving_19.png</string>
				<string>spider_moving_20.png</string>
				<string>spider_moving_21.png</string>
				<string>spider_moving_22.png</string>
				<string>spider_moving_23.png</string>
				<string>spider_moving_24.png</string>
				<string>spider_moving_25.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>spider_attacking</key>
		<dict>
			<key>frames</key>
			<array>
				<string>spider_attacking_0.png</string>
				<string>spider_attacking_1.png</string>
				<string>spider_attacking_2.png</string>
				<string>spider_attacking_3.png</string>
				<string>spider_attacking_4.png</string>
				<string>spider_attacking_5.png</string>
				<string>spider_attacking_6.png</string>
				<string>spider_attacking_7.png</string>
				<string>spider_attacking_8.png</string>
				<string>spider_attacking_9.png</string>
				<string>spider_attacking_10.png</string>
				<string>spider_attacking_11.png</string>
				<string>spider_attacking_12.png</string>
				<string>spider_attacking_13.png</string>
				<string>spider_attacking_14.png</string>
				<string>spider_attacking_15.png</string>
				<string>spider_attacking_16.png</string>
				<string>spider_attacking_17.png</string>
				<string>spider_attacking_18.png</string>
				<string>spider_attacking_19.png</string>
				<string>spider_attacking_20.png</string>
				<string>spider_attacking_21.png</string>
				<string>spider_attacking_22.png</string>
				<string>spider_attacking_23.png</string>
				<string>spider_attacking_24.png</string>
				<string>spider_attacking_25.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>spider_dead</key>
		<dict>
			<key>frames</key>
			<array>
				<string>spider_dead_0.png</string>
				<string>spider_dead_1.png</string>
				<string>spider_dead_2.png</string>
				<string>spider_dead_3.png</string>
				<string>spider_dead_4.png</string>
				<string>spider_dead_5.png</string>
				<string>spider_dead_6.png</string>
				<string>spider_dead_7.png</string>
				<string>spider_dead_8.png</string>
				<string>spider_dead_9.png</string>
				<string>spider_dead_10.png</string>
				<string>spider_dead_11.png</string>
				<string>spider_dead_12.png</string>
				<string>spider_dead_13.png</string>
				<string>spider_dead_14.png</string>
				<string>spider_dead_15.png</string>
				<string>spider_dead_16.png</string>
				<string>spider_dead_17.png</string>
				<string>spider_dead_18.png</string>
				<string>spider_dead_19.png</string>
				<string>spider_dead_20.png</string>
				<string>spider_dead_21.png</string>
				<string>spider_dead_22.png</string>
				<string>spider_dead_23.png</string>
				<string>spider_dead_24.png</string>
				<string>spider_dead_25.png</string>
				<string>spider_dead_26.png</string>
				<string>spider_dead_27.png</string>
				<string>spider_dead_28.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>spider_attacked</key>
		<dict>
			<key>frames</key>
			<array>
				<string>spider_attacked_0.png</string>
				<string>spider_attacked_1.png</string>
				<string>spider_attacked_2.png</string>
				<string>spider_attacked_3.png</string>
				<string>spider_attacked_4.png</string>
				<string>spider_attacked_5.png</string>
				<string>spider_attacked_6.png</string>
				<string>spider_attacked_7.png</string>
				<string>spider_attacked_8.png</string>
				<string>spider_attacked_9.png</string>
				<string>spider_attacked_10.png</string>
				<string>spider_attacked_11.png</string>
				<string>spider_attacked_12.png</string>
				<string>spider_attacked_13.png</string>
				<string>spider_attacked_14.png</string>
				<string>spider_attacked_15.png</string>
				<string>spider_attacked_16.png</string>
				<string>spider_attacked_17.png</string>
				<string>spider_attacked_18.png</string>
				<string>spider_attacked_19.png</string>
				<string>spider_attacked_20.png</string>
				<string>spider_attacked_21.png</string>
				<string>spider_attacked_22.png</string>
				<string>spider_attacked_23.png</string>
				<string>spider_attacked_24.png</string>
				<string>spider_attacked_25.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>kingspider_idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>kingspider_idle_0.png</string>
				<string>kingspider_idle_1.png</string>
				<string>kingspider_idle_2.png</string>
				<string>kingspider_idle_3.png</string>
				<string>kingspider_idle_4.png</string>
				<string>kingspider_idle_5.png</string>
				<string>kingspider_idle_6.png</string>
				<string>kingspider_idle_7.png</string>
				<string>kingspider_idle_8.png</string>
				<string>kingspider_idle_9.png</string>
				<string>kingspider_idle_10.png</string>
				<string>kingspider_idle_11.png</string>
				<string>kingspider_idle_12.png</string>
				<string>kingspider_idle_13.png</string>
				<string>kingspider_idle_14.png</string>
				<string>kingspider_idle_15.png</string>
				<string>kingspider_idle_16.png</string>
				<string>kingspider_idle_17.png</string>
				<string>kingspider_idle_18.png</string>
				<string>kingspider_idle_19.png</string>
				<string>kingspider_idle_20.png</string>
				<string>kingspider_idle_21.png</string>
				<string>kingspider_idle_22.png</string>
				<string>kingspider_idle_23.png</string>
				<string>kingspider_idle_24.png</string>
				<string>kingspider_idle_25.png</string>
				<string>kingspider_idle_26.png</string>
				<string>kingspider_idle_27.png</string>
				<string>kingspider_idle_28.png</string>
				<string>kingspider_idle_29.png</string>
				<string>kingspider_idle_30.png</string>
				<string>kingspider_idle_31.png</string>
				<string>kingspider_idle_32.png</string>
				<string>kingspider_idle_33.png</string>
				<string>kingspider_idle_34.png</string>

			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>kingspider_moving</key>
		<dict>
			<key>frames</key>
			<array>
				<string>kingspider_moving_0.png</string>
				<string>kingspider_moving_1.png</string>
				<string>kingspider_moving_2.png</string>
				<string>kingspider_moving_3.png</string>
				<string>kingspider_moving_4.png</string>
				<string>kingspider_moving_5.png</string>
				<string>kingspider_moving_6.png</string>
				<string>kingspider_moving_7.png</string>
				<string>kingspider_moving_8.png</string>
				<string>kingspider_moving_9.png</string>
				<string>kingspider_moving_10.png</string>
				<string>kingspider_moving_11.png</string>
				<string>kingspider_moving_12.png</string>
				<string>kingspider_moving_13.png</string>
				<string>kingspider_moving_14.png</string>
				<string>kingspider_moving_15.png</string>
				<string>kingspider_moving_16.png</string>
				<string>kingspider_moving_17.png</string>
				<string>kingspider_moving_18.png</string>
				<string>kingspider_moving_19.png</string>
				<string>kingspider_moving_20.png</string>
				<string>kingspider_moving_21.png</string>
				<string>kingspider_moving_22.png</string>
				<string>kingspider_moving_23.png</string>
				<string>kingspider_moving_24.png</string>
				<string>kingspider_moving_25.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>kingspider_attacking</key>
		<dict>
			<key>frames</key>
			<array>
				<string>kingspider_attacking_0.png</string>
				<string>kingspider_attacking_1.png</string>
				<string>kingspider_attacking_2.png</string>
				<string>kingspider_attacking_3.png</string>
				<string>kingspider_attacking_4.png</string>
				<string>kingspider_attacking_5.png</string>
				<string>kingspider_attacking_6.png</string>
				<string>kingspider_attacking_7.png</string>
				<string>kingspider_attacking_8.png</string>
				<string>kingspider_attacking_9.png</string>
				<string>kingspider_attacking_10.png</string>
				<string>kingspider_attacking_11.png</string>
				<string>kingspider_attacking_12.png</string>
				<string>kingspider_attacking_13.png</string>
				<string>kingspider_attacking_14.png</string>
				<string>kingspider_attacking_15.png</string>
				<string>kingspider_attacking_16.png</string>
				<string>kingspider_attacking_17.png</string>
				<string>kingspider_attacking_18.png</string>
				<string>kingspider_attacking_19.png</string>
				<string>kingspider_attacking_20.png</string>
				<string>kingspider_attacking_21.png</string>
				<string>kingspider_attacking_22.png</string>
				<string>kingspider_attacking_23.png</string>
				<string>kingspider_attacking_24.png</string>
				<string>kingspider_attacking_25.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>kingspider_dead</key>
		<dict>
			<key>frames</key>
			<array>
				<string>kingspider_dead_0.png</string>
				<string>kingspider_dead_1.png</string>
				<string>kingspider_dead_2.png</string>
				<string>kingspider_dead_3.png</string>
				<string>kingspider_dead_4.png</string>
				<string>kingspider_dead_5.png</string>
				<string>kingspider_dead_6.png</string>
				<string>kingspider_dead_7.png</string>
				<string>kingspider_dead_8.png</string>
				<string>kingspider_dead_9.png</string>
				<string>kingspider_dead_10.png</string>
				<string>kingspider_dead_11.png</string>
				<string>kingspider_dead_12.png</string>
				<string>kingspider_dead_13.png</string>
				<string>kingspider_dead_14.png</string>
				<string>kingspider_dead_15.png</string>
				<string>kingspider_dead_16.png</string>
				<string>kingspider_dead_17.png</string>
				<string>kingspider_dead_18.png</string>
				<string>kingspider_dead_19.png</string>
				<string>kingspider_dead_20.png</string>
				<string>kingspider_dead_21.png</string>
				<string>kingspider_dead_22.png</string>
				<string>kingspider_dead_23.png</string>
				<string>kingspider_dead_24.png</string>
				<string>kingspider_dead_25.png</string>
				<string>kingspider_dead_26.png</string>
				<string>kingspider_dead_27.png</string>
				<string>kingspider_dead_28.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>kingspider_attacked</key>
		<dict>
			<key>frames</key>
			<array>
				<string>kingspider_attacked_0.png</string>
				<string>kingspider_attacked_1.png</string>
				<string>kingspider_attacked_2.png</string>
				<string>kingspider_attacked_3.png</string>
				<string>kingspider_attacked_4.png</string>
				<string>kingspider_attacked_5.png</string>
				<string>kingspider_attacked_6.png</string>
				<string>kingspider_attacked_7.png</string>
				<string>kingspider_attacked_8.png</string>
				<string>kingspider_attacked_9.png</string>
				<string>kingspider_attacked_10.png</string>
				<string>kingspider_attacked_11.png</string>
				<string>kingspider_attacked_12.png</string>
				<string>kingspider_attacked_13.png</string>
				<string>kingspider_attacked_14.png</string>
				<string>kingspider_attacked_15.png</string>
				<string>kingspider_attacked_16.png</string>
				<string>kingspider_attacked_17.png</string>
				<string>kingspider_attacked_18.png</string>
				<string>kingspider_attacked_19.png</string>
				<string>kingspider_attacked_20.png</string>
				<string>kingspider_attacked_21.png</string>
				<string>kingspider_attacked_22.png</string>
				<string>kingspider_attacked_23.png</string>
				<string>kingspider_attacked_24.png</string>
				<string>kingspider_attacked_25.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
	</dict>
</dict>
</plist>
