<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>mushroom_moving_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 17}, {135, 160}}</string>
			<key>spriteOffset</key>
			<string>{-2, -7}</string>
			<key>spriteSize</key>
			<string>{135, 160}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{675, 325}, {135, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 12}, {135, 166}}</string>
			<key>spriteOffset</key>
			<string>{-2, -5}</string>
			<key>spriteSize</key>
			<string>{135, 166}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{540, 0}, {135, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 16}, {135, 162}}</string>
			<key>spriteOffset</key>
			<string>{-2, -7}</string>
			<key>spriteSize</key>
			<string>{135, 162}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 344}, {135, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 17}, {135, 160}}</string>
			<key>spriteOffset</key>
			<string>{-2, -7}</string>
			<key>spriteSize</key>
			<string>{135, 160}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{675, 163}, {135, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 17}, {135, 160}}</string>
			<key>spriteOffset</key>
			<string>{-2, -7}</string>
			<key>spriteSize</key>
			<string>{135, 160}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{540, 167}, {135, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 16}, {135, 162}}</string>
			<key>spriteOffset</key>
			<string>{-2, -7}</string>
			<key>spriteSize</key>
			<string>{135, 162}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{540, 329}, {135, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 16}, {135, 162}}</string>
			<key>spriteOffset</key>
			<string>{-2, -7}</string>
			<key>spriteSize</key>
			<string>{135, 162}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{675, 0}, {135, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {135, 164}}</string>
			<key>spriteOffset</key>
			<string>{-2, -6}</string>
			<key>spriteSize</key>
			<string>{135, 164}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 340}, {135, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {135, 164}}</string>
			<key>spriteOffset</key>
			<string>{-2, -6}</string>
			<key>spriteSize</key>
			<string>{135, 164}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 170}, {135, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 13}, {135, 164}}</string>
			<key>spriteOffset</key>
			<string>{-2, -5}</string>
			<key>spriteSize</key>
			<string>{135, 164}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 172}, {135, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 7}, {135, 170}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{135, 170}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 0}, {135, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {135, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{135, 176}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {135, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {135, 174}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{135, 174}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 0}, {135, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {135, 170}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{135, 170}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 0}, {135, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 13}, {135, 164}}</string>
			<key>spriteOffset</key>
			<string>{-2, -5}</string>
			<key>spriteSize</key>
			<string>{135, 164}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 174}, {135, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 13}, {135, 164}}</string>
			<key>spriteOffset</key>
			<string>{-2, -5}</string>
			<key>spriteSize</key>
			<string>{135, 164}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 178}, {135, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {135, 164}}</string>
			<key>spriteOffset</key>
			<string>{-2, -6}</string>
			<key>spriteSize</key>
			<string>{135, 164}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 335}, {135, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_moving_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 15}, {135, 162}}</string>
			<key>spriteOffset</key>
			<string>{-2, -6}</string>
			<key>spriteSize</key>
			<string>{135, 162}</string>
			<key>spriteSourceSize</key>
			<string>{155, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 338}, {135, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>mushroom_moving</string>
		<key>textureFileName</key>
		<string>mushroom_moving.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>