<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>spider_dead_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 25}, {201, 153}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{201, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 772}, {201, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 25}, {201, 153}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{201, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 153}, {201, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 455}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 0}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 151}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{619, 0}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{417, 609}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{815, 453}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 153}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{818, 0}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {215, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{215, 205}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 206}, {215, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 304}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 610}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 302}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {215, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{215, 205}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 412}, {215, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1007, 755}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{816, 151}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 606}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{609, 760}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{815, 604}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{417, 458}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {215, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{215, 205}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {215, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 458}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{409, 762}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{808, 757}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 25}, {201, 151}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{201, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 306}, {201, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 25}, {205, 153}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{205, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 772}, {205, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 25}, {215, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{215, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 618}, {215, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_dead_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 25}, {203, 151}}</string>
			<key>spriteOffset</key>
			<string>{-3, 2}</string>
			<key>spriteSize</key>
			<string>{203, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 0}, {203, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>spider_dead</string>
		<key>textureFileName</key>
		<string>spider_dead.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>