<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>spider_attacked_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 25}, {201, 153}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{201, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{422, 0}, {201, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 25}, {201, 153}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{201, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{625, 153}, {201, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 609}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{797, 306}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{399, 306}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{597, 608}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 306}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{796, 457}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 458}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{796, 608}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 608}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 458}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{403, 154}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 306}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 760}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 609}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 759}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 457}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{597, 457}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 154}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 306}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 151}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 760}, {199, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 25}, {201, 151}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{201, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 154}, {201, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 25}, {205, 153}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{205, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 0}, {205, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 25}, {215, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{215, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {215, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacked_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 25}, {203, 151}}</string>
			<key>spriteOffset</key>
			<string>{-3, 2}</string>
			<key>spriteSize</key>
			<string>{203, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{625, 0}, {203, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>spider_attacked</string>
		<key>textureFileName</key>
		<string>spider_attacked.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>