<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>spider_attacking_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{805, 459}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 25}, {197, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{197, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{797, 613}, {197, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 25}, {203, 153}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{203, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{614, 0}, {203, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 25}, {203, 151}}</string>
			<key>spriteOffset</key>
			<string>{-3, 2}</string>
			<key>spriteSize</key>
			<string>{203, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{818, 153}, {203, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 314}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{811, 305}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 768}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{407, 306}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 622}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 467}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{612, 154}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 468}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 159}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{597, 616}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 313}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 462}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 614}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{399, 460}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 621}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 17}, {203, 159}}</string>
			<key>spriteOffset</key>
			<string>{-3, 6}</string>
			<key>spriteSize</key>
			<string>{203, 159}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 0}, {203, 159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 13}, {205, 161}}</string>
			<key>spriteOffset</key>
			<string>{-4, 9}</string>
			<key>spriteSize</key>
			<string>{205, 161}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {205, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 25}, {197, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{197, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 308}, {197, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 25}, {203, 153}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{203, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{818, 0}, {203, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 25}, {203, 153}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{203, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 0}, {203, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 25}, {201, 151}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{201, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 154}, {201, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_attacking_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 25}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 161}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>spider_attacking</string>
		<key>textureFileName</key>
		<string>spider_attacking.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>