<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>spider_idle_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 15}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 0}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 15}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1059, 162}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 967}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 1130}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 14}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 647}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 14}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 972}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 14}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 163}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 14}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 487}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 15}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{847, 0}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 15}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1059, 0}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 15}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{635, 0}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 15}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 0}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 15}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{847, 162}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 15}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 15}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{635, 162}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 15}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 163}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 14}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 649}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 14}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 325}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 485}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{847, 325}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 969}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{847, 485}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{635, 485}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 14}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 163}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 646}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 808}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 14}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1134}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 14}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 486}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 14}, {211, 162}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{211, 162}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 325}, {211, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 14}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 811}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1059, 485}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{635, 325}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1059, 325}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 807}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_idle_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {211, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{211, 160}</string>
			<key>spriteSourceSize</key>
			<string>{269, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 325}, {211, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1311, 1311}</string>
		<key>name</key>
		<string>spider_idle</string>
		<key>textureFileName</key>
		<string>spider_idle.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>