<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boy_idle_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{-6, 1}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 356}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{-6, 1}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 534}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 2}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{448, 352}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 2}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 0}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 2}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{783, 0}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {109, 176}}</string>
			<key>spriteOffset</key>
			<string>{-7, 2}</string>
			<key>spriteSize</key>
			<string>{109, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 178}, {109, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{448, 176}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 176}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{335, 528}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{335, 352}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 704}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{113, 708}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{-6, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{670, 352}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 0}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 532}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 352}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 528}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{111, 0}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 176}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{111, 176}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 712}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 356}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{559, 0}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{-6, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{777, 176}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {109, 176}}</string>
			<key>spriteOffset</key>
			<string>{-7, 2}</string>
			<key>spriteSize</key>
			<string>{109, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {109, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 2}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{339, 704}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-6, 2}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{448, 0}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-6, 2}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 528}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-6, 2}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{559, 352}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{-6, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{668, 528}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-6, 2}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{561, 704}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-6, 2}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 704}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-6, 2}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{559, 176}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-6, 2}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 0}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-6, 2}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{894, 0}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_idle_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-6, 2}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{557, 528}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>boy_idle</string>
		<key>textureFileName</key>
		<string>boy_idle.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>