<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boy_dead_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{609, 890}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{609, 712}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 176}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{611, 178}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 352}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 5}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 712}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{496, 1246}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 1246}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 904}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 192}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 712}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 370}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{750, 0}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 192}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 1794}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 178}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 534}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 0}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 1438}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 370}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 356}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 0}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 1082}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{611, 354}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 1082}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 726}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 1260}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 726}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 1616}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 548}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 1794}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 904}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 1616}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 1260}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 528}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 1438}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 548}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {113, 176}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{113, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 890}, {113, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {113, 176}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{113, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 1068}, {113, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{607, 1422}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 576}, {145, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{496, 890}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 356}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 178}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 1600}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{641, 0}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{607, 1778}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_51.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 768}, {145, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 1778}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_53.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 534}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 1778}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 1422}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 0}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_57.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 1422}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{496, 1068}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_59.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{607, 1600}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{609, 1068}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 1600}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_61.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 384}, {145, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_62.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 0}, {145, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_63.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1344}, {145, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1728}, {145, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_65.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1152}, {145, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_66.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {145, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_67.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1536}, {145, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 192}, {145, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_69.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {145, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 190}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 960}, {145, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{609, 1246}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{611, 530}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_dead_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{718, 706}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>boy_dead</string>
		<key>textureFileName</key>
		<string>boy_dead.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>