<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boy_casting_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{545, 0}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{872, 0}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{545, 178}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{872, 176}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 178}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 178}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 178}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 5}, {105, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{105, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 354}, {105, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {105, 174}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{105, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 354}, {105, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 174}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{103, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 886}, {103, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 530}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{763, 352}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{315, 532}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{844, 530}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 708}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 354}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 532}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 710}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{525, 532}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{529, 354}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 530}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{634, 528}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 178}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 708}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{319, 354}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 354}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{735, 706}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{630, 706}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 6}, {101, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{101, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 710}, {101, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 6}, {101, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{101, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{624, 884}, {101, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 6}, {101, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{101, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{727, 884}, {101, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 6}, {101, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{101, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{315, 710}, {101, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 6}, {101, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{101, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1062}, {101, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{654, 176}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 6}, {101, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{101, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{521, 710}, {101, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 6}, {101, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{101, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 886}, {101, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{739, 528}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 708}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 6}, {103, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{103, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 532}, {103, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {105, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{105, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{872, 352}, {105, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 0}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 0}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 0}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 0}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{763, 176}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{654, 0}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 178}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{654, 352}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_casting_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{763, 0}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>boy_casting</string>
		<key>textureFileName</key>
		<string>boy_casting.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>