<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boy_attacked_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{914, 890}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 712}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 888}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 888}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 888}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 5}, {109, 174}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{109, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{803, 888}, {109, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{803, 712}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 534}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{117, 356}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 356}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 534}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 356}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{545, 890}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{117, 0}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 356}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{585, 178}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 356}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 0}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 178}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 0}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 178}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{819, 0}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 888}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{819, 356}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 0}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 356}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{819, 178}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{585, 356}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 178}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{585, 0}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{117, 178}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{117, 534}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 0}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 712}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 178}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {115, 176}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{115, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 178}, {115, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {113, 176}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{113, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 534}, {113, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {113, 176}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{113, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{349, 534}, {113, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{579, 534}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{577, 712}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{690, 712}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 710}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{692, 534}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{805, 534}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 712}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{107, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{916, 712}, {107, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 712}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{654, 890}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_attacked_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {107, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{107, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 890}, {107, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>boy_attacked</string>
		<key>textureFileName</key>
		<string>boy_attacked.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>