<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boy_moving_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 0}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 176}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{803, 348}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{575, 178}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 2}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 704}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 2}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 352}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {113, 176}}</string>
			<key>spriteOffset</key>
			<string>{-8, 1}</string>
			<key>spriteSize</key>
			<string>{113, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 356}, {113, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {113, 176}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{113, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 534}, {113, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {113, 176}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{113, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 712}, {113, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{345, 176}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{345, 352}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 352}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{345, 528}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {113, 172}}</string>
			<key>spriteOffset</key>
			<string>{-9, 4}</string>
			<key>spriteSize</key>
			<string>{113, 172}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{688, 0}, {113, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {113, 172}}</string>
			<key>spriteOffset</key>
			<string>{-9, 4}</string>
			<key>spriteSize</key>
			<string>{113, 172}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{803, 174}, {113, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {113, 172}}</string>
			<key>spriteOffset</key>
			<string>{-8, 4}</string>
			<key>spriteSize</key>
			<string>{113, 172}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{688, 348}, {113, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {113, 172}}</string>
			<key>spriteOffset</key>
			<string>{-8, 4}</string>
			<key>spriteSize</key>
			<string>{113, 172}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 176}, {113, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {113, 172}}</string>
			<key>spriteOffset</key>
			<string>{-8, 4}</string>
			<key>spriteSize</key>
			<string>{113, 172}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 350}, {113, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {113, 172}}</string>
			<key>spriteOffset</key>
			<string>{-8, 4}</string>
			<key>spriteSize</key>
			<string>{113, 172}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{803, 0}, {113, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 700}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {111, 172}}</string>
			<key>spriteOffset</key>
			<string>{-8, 3}</string>
			<key>spriteSize</key>
			<string>{111, 172}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{686, 698}, {111, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 2}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 524}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {111, 176}}</string>
			<key>spriteOffset</key>
			<string>{-8, 1}</string>
			<key>spriteSize</key>
			<string>{111, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{575, 0}, {111, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {113, 172}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{113, 172}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{688, 174}, {113, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {113, 176}}</string>
			<key>spriteOffset</key>
			<string>{-8, 1}</string>
			<key>spriteSize</key>
			<string>{113, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {113, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {113, 176}}</string>
			<key>spriteOffset</key>
			<string>{-8, 1}</string>
			<key>spriteSize</key>
			<string>{113, 176}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 178}, {113, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 2}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{345, 704}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 2}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 176}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 528}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{345, 0}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 704}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 3}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 528}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 3}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 0}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {113, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 3}</string>
			<key>spriteSize</key>
			<string>{113, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 0}, {113, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{688, 522}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{575, 354}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boy_moving_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {111, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, 3}</string>
			<key>spriteSize</key>
			<string>{111, 174}</string>
			<key>spriteSourceSize</key>
			<string>{145, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{573, 530}, {111, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>boy_moving</string>
		<key>textureFileName</key>
		<string>boy_moving.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>