<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>girl_attacked_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 180}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 180}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 894}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 536}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 716}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 10}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 360}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 10}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 538}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 10}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 714}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 358}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 180}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 716}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 538}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 894}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 894}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 894}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 538}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 716}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 716}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 360}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 894}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 538}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 894}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 360}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 892}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 360}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 716}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 360}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 180}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 360}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 716}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 180}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 538}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 538}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 180}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 180}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_attacked_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>girl_attacked</string>
		<key>textureFileName</key>
		<string>girl_attacked.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>