<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>girl_dead_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 192}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 180}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{814, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 0}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 372}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 728}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 552}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 1074}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 10}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 908}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 10}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 728}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 10}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 372}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 718}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 360}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 540}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 372}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 718}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 1074}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 550}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 552}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 908}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 372}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 730}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 550}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 192}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 906}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 190}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 0}, {135, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 550}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 896}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 906}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 728}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 730}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 190}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {135, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 906}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 896}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 192}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {127, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{127, 176}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 540}, {127, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 190}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 0}, {135, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 190}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 0}, {135, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 190}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 0}, {135, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 360}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{814, 180}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 192}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 192}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_dead_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {127, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{127, 178}</string>
			<key>spriteSourceSize</key>
			<string>{135, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 372}, {127, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>girl_dead</string>
		<key>textureFileName</key>
		<string>girl_dead.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>