<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meteor0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{340,136}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{340,136}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
            <key>meteor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,142}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{346,142}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
            <key>meteor10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{316,142}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,8},{316,142}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
            <key>meteor11.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{330,142}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{330,142}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
            <key>meteor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,140},{336,136}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{336,136}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
            <key>meteor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,146},{328,142}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{328,142}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
            <key>meteor4.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,444},{260,140}}</string>
                <key>offset</key>
                <string>{33,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,5},{260,140}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
            <key>meteor5.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,430},{274,144}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,3},{274,144}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
            <key>meteor6.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,278},{294,150}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,2},{294,150}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
            <key>meteor7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{270,152}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,3},{270,152}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
            <key>meteor8.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,290},{290,152}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,3},{290,152}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
            <key>meteor9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{292,154}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,5},{292,154}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meteor-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b6f3c543d598682853c3c9e76244e5a$</string>
            <key>textureFileName</key>
            <string>meteor-hd.png</string>
        </dict>
    </dict>
</plist>
