<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>spell_fireball_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 200}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 54}, {92, 98}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{92, 98}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 660}, {92, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 28}, {150, 146}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{150, 146}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 504}, {150, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 21}, {146, 158}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{146, 158}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{462, 160}, {146, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 14}, {144, 164}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{144, 164}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 178}, {144, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 32}, {132, 148}}</string>
			<key>spriteOffset</key>
			<string>{5, -6}</string>
			<key>spriteSize</key>
			<string>{132, 148}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{610, 160}, {132, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 25}, {130, 162}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{130, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 0}, {130, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 18}, {126, 176}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{126, 176}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 0}, {126, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 11}, {124, 188}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{124, 188}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 202}, {124, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 48}, {124, 152}}</string>
			<key>spriteOffset</key>
			<string>{-4, -24}</string>
			<key>spriteSize</key>
			<string>{124, 152}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 776}, {124, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 47}, {134, 144}}</string>
			<key>spriteOffset</key>
			<string>{-4, -19}</string>
			<key>spriteSize</key>
			<string>{134, 144}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 518}, {134, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 54}, {142, 142}}</string>
			<key>spriteOffset</key>
			<string>{-5, -25}</string>
			<key>spriteSize</key>
			<string>{142, 142}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 0}, {142, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{53, 50}, {104, 104}}</string>
			<key>spriteOffset</key>
			<string>{5, -2}</string>
			<key>spriteSize</key>
			<string>{104, 104}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 664}, {104, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 58}, {142, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -26}</string>
			<key>spriteSize</key>
			<string>{142, 136}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{744, 144}, {142, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 55}, {142, 140}}</string>
			<key>spriteOffset</key>
			<string>{-7, -25}</string>
			<key>spriteSize</key>
			<string>{142, 140}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{610, 310}, {142, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 58}, {156, 124}}</string>
			<key>spriteOffset</key>
			<string>{-8, -20}</string>
			<key>spriteSize</key>
			<string>{156, 124}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 392}, {156, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 57}, {130, 132}}</string>
			<key>spriteOffset</key>
			<string>{13, -23}</string>
			<key>spriteSize</key>
			<string>{130, 132}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{462, 660}, {130, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 53}, {144, 142}}</string>
			<key>spriteOffset</key>
			<string>{14, -24}</string>
			<key>spriteSize</key>
			<string>{144, 142}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 652}, {144, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 49}, {158, 116}}</string>
			<key>spriteOffset</key>
			<string>{14, -7}</string>
			<key>spriteSize</key>
			<string>{158, 116}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 776}, {158, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 56}, {170, 116}}</string>
			<key>spriteOffset</key>
			<string>{14, -14}</string>
			<key>spriteSize</key>
			<string>{170, 116}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 658}, {170, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 56}, {178, 122}}</string>
			<key>spriteOffset</key>
			<string>{11, -17}</string>
			<key>spriteSize</key>
			<string>{178, 122}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 534}, {178, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 57}, {94, 88}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{94, 88}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{628, 452}, {94, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 43}, {116, 118}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{116, 118}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 320}, {116, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 37}, {134, 132}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{134, 132}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 0}, {134, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 24}, {152, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{152, 158}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{462, 0}, {152, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 24}, {166, 162}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{166, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 202}, {166, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 23}, {160, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{160, 158}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 344}, {160, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 20}, {162, 166}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{162, 166}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 366}, {162, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_fireball_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 24}, {152, 154}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{152, 154}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{474, 504}, {152, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>spell_fireball</string>
		<key>textureFileName</key>
		<string>spell_fireball.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>
