<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>girl_idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>girl_idle_0.png</string>
				<string>girl_idle_1.png</string>
				<string>girl_idle_2.png</string>
				<string>girl_idle_3.png</string>
				<string>girl_idle_4.png</string>
				<string>girl_idle_5.png</string>
				<string>girl_idle_6.png</string>
				<string>girl_idle_7.png</string>
				<string>girl_idle_8.png</string>
				<string>girl_idle_9.png</string>
				<string>girl_idle_10.png</string>
				<string>girl_idle_11.png</string>
				<string>girl_idle_12.png</string>
				<string>girl_idle_13.png</string>
				<string>girl_idle_14.png</string>
				<string>girl_idle_15.png</string>
				<string>girl_idle_16.png</string>
				<string>girl_idle_17.png</string>
				<string>girl_idle_18.png</string>
				<string>girl_idle_19.png</string>
				<string>girl_idle_20.png</string>
				<string>girl_idle_21.png</string>
				<string>girl_idle_22.png</string>
				<string>girl_idle_23.png</string>
				<string>girl_idle_24.png</string>
				<string>girl_idle_25.png</string>
				<string>girl_idle_26.png</string>
				<string>girl_idle_27.png</string>
				<string>girl_idle_28.png</string>
				<string>girl_idle_29.png</string>
				<string>girl_idle_30.png</string>
				<string>girl_idle_31.png</string>
				<string>girl_idle_32.png</string>
				<string>girl_idle_33.png</string>
				<string>girl_idle_34.png</string>
				<string>girl_idle_35.png</string>
				<string>girl_idle_36.png</string>
				<string>girl_idle_37.png</string>
				<string>girl_idle_38.png</string>
				<string>girl_idle_39.png</string>
				<string>girl_idle_40.png</string>
				<string>girl_idle_41.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>girl_attacked</key>
		<dict>
			<key>frames</key>
			<array>
				<string>girl_attacked_0.png</string>
				<string>girl_attacked_1.png</string>
				<string>girl_attacked_2.png</string>
				<string>girl_attacked_3.png</string>
				<string>girl_attacked_4.png</string>
				<string>girl_attacked_5.png</string>
				<string>girl_attacked_6.png</string>
				<string>girl_attacked_7.png</string>
				<string>girl_attacked_8.png</string>
				<string>girl_attacked_9.png</string>
				<string>girl_attacked_10.png</string>
				<string>girl_attacked_11.png</string>
				<string>girl_attacked_12.png</string>
				<string>girl_attacked_13.png</string>
				<string>girl_attacked_14.png</string>
				<string>girl_attacked_15.png</string>
				<string>girl_attacked_16.png</string>
				<string>girl_attacked_17.png</string>
				<string>girl_attacked_18.png</string>
				<string>girl_attacked_19.png</string>
				<string>girl_attacked_20.png</string>
				<string>girl_attacked_21.png</string>
				<string>girl_attacked_22.png</string>
				<string>girl_attacked_23.png</string>
				<string>girl_attacked_24.png</string>
				<string>girl_attacked_25.png</string>
				<string>girl_attacked_26.png</string>
				<string>girl_attacked_27.png</string>
				<string>girl_attacked_28.png</string>
				<string>girl_attacked_29.png</string>
				<string>girl_attacked_30.png</string>
				<string>girl_attacked_31.png</string>
				<string>girl_attacked_32.png</string>
				<string>girl_attacked_33.png</string>
				<string>girl_attacked_34.png</string>
				<string>girl_attacked_35.png</string>
				<string>girl_attacked_36.png</string>
				<string>girl_attacked_37.png</string>
				<string>girl_attacked_38.png</string>
				<string>girl_attacked_39.png</string>
				<string>girl_attacked_40.png</string>
				<string>girl_attacked_41.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>girl_attacking</key>
		<dict>
			<key>frames</key>
			<array>
				<string>girl_attacking_0.png</string>
				<string>girl_attacking_1.png</string>
				<string>girl_attacking_2.png</string>
				<string>girl_attacking_3.png</string>
				<string>girl_attacking_4.png</string>
				<string>girl_attacking_5.png</string>
				<string>girl_attacking_6.png</string>
				<string>girl_attacking_7.png</string>
				<string>girl_attacking_8.png</string>
				<string>girl_attacking_9.png</string>
				<string>girl_attacking_10.png</string>
				<string>girl_attacking_11.png</string>
				<string>girl_attacking_12.png</string>
				<string>girl_attacking_13.png</string>
				<string>girl_attacking_14.png</string>
				<string>girl_attacking_15.png</string>
				<string>girl_attacking_16.png</string>
				<string>girl_attacking_17.png</string>
				<string>girl_attacking_18.png</string>
				<string>girl_attacking_19.png</string>
				<string>girl_attacking_20.png</string>
				<string>girl_attacking_21.png</string>
				<string>girl_attacking_22.png</string>
				<string>girl_attacking_23.png</string>
				<string>girl_attacking_24.png</string>
				<string>girl_attacking_25.png</string>
				<string>girl_attacking_26.png</string>
				<string>girl_attacking_27.png</string>
				<string>girl_attacking_28.png</string>
				<string>girl_attacking_29.png</string>
				<string>girl_attacking_30.png</string>
				<string>girl_attacking_31.png</string>
				<string>girl_attacking_32.png</string>
				<string>girl_attacking_33.png</string>
				<string>girl_attacking_34.png</string>
				<string>girl_attacking_35.png</string>
				<string>girl_attacking_36.png</string>
				<string>girl_attacking_37.png</string>
				<string>girl_attacking_38.png</string>
				<string>girl_attacking_39.png</string>
				<string>girl_attacking_40.png</string>
				<string>girl_attacking_41.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>girl_dead</key>
		<dict>
			<key>frames</key>
			<array>
				<string>girl_dead_0.png</string>
				<string>girl_dead_1.png</string>
				<string>girl_dead_2.png</string>
				<string>girl_dead_3.png</string>
				<string>girl_dead_4.png</string>
				<string>girl_dead_5.png</string>
				<string>girl_dead_6.png</string>
				<string>girl_dead_7.png</string>
				<string>girl_dead_8.png</string>
				<string>girl_dead_9.png</string>
				<string>girl_dead_10.png</string>
				<string>girl_dead_11.png</string>
				<string>girl_dead_12.png</string>
				<string>girl_dead_13.png</string>
				<string>girl_dead_14.png</string>
				<string>girl_dead_15.png</string>
				<string>girl_dead_16.png</string>
				<string>girl_dead_17.png</string>
				<string>girl_dead_18.png</string>
				<string>girl_dead_19.png</string>
				<string>girl_dead_20.png</string>
				<string>girl_dead_21.png</string>
				<string>girl_dead_22.png</string>
				<string>girl_dead_23.png</string>
				<string>girl_dead_24.png</string>
				<string>girl_dead_25.png</string>
				<string>girl_dead_26.png</string>
				<string>girl_dead_27.png</string>
				<string>girl_dead_28.png</string>
				<string>girl_dead_29.png</string>
				<string>girl_dead_30.png</string>
				<string>girl_dead_31.png</string>
				<string>girl_dead_32.png</string>
				<string>girl_dead_33.png</string>
				<string>girl_dead_34.png</string>
				<string>girl_dead_35.png</string>
				<string>girl_dead_36.png</string>
				<string>girl_dead_37.png</string>
				<string>girl_dead_38.png</string>
				<string>girl_dead_39.png</string>
				<string>girl_dead_40.png</string>
				<string>girl_dead_41.png</string>
				<string>girl_dead_42.png</string>
				<string>girl_dead_43.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>girl_fire</key>
		<dict>
			<key>frames</key>
			<array>
				<string>girl_fire_0.png</string>
				<string>girl_fire_1.png</string>
				<string>girl_fire_2.png</string>
				<string>girl_fire_3.png</string>
				<string>girl_fire_4.png</string>
				<string>girl_fire_5.png</string>
				<string>girl_fire_6.png</string>
				<string>girl_fire_7.png</string>
				<string>girl_fire_8.png</string>
				<string>girl_fire_9.png</string>
				<string>girl_fire_10.png</string>
				<string>girl_fire_11.png</string>
				<string>girl_fire_12.png</string>
				<string>girl_fire_13.png</string>
				<string>girl_fire_14.png</string>
				<string>girl_fire_15.png</string>
				<string>girl_fire_16.png</string>
				<string>girl_fire_17.png</string>
				<string>girl_fire_18.png</string>
				<string>girl_fire_19.png</string>
				<string>girl_fire_20.png</string>
				<string>girl_fire_21.png</string>
				<string>girl_fire_22.png</string>
				<string>girl_fire_23.png</string>
				<string>girl_fire_24.png</string>
				<string>girl_fire_25.png</string>
				<string>girl_fire_26.png</string>
				<string>girl_fire_27.png</string>
				<string>girl_fire_28.png</string>
				<string>girl_fire_29.png</string>
				<string>girl_fire_30.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>girl_moving</key>
		<dict>
			<key>frames</key>
			<array>
				<string>girl_moving_0.png</string>
				<string>girl_moving_1.png</string>
				<string>girl_moving_2.png</string>
				<string>girl_moving_3.png</string>
				<string>girl_moving_4.png</string>
				<string>girl_moving_5.png</string>
				<string>girl_moving_6.png</string>
				<string>girl_moving_7.png</string>
				<string>girl_moving_8.png</string>
				<string>girl_moving_9.png</string>
				<string>girl_moving_10.png</string>
				<string>girl_moving_11.png</string>
				<string>girl_moving_12.png</string>
				<string>girl_moving_13.png</string>
				<string>girl_moving_14.png</string>
				<string>girl_moving_15.png</string>
				<string>girl_moving_16.png</string>
				<string>girl_moving_17.png</string>
				<string>girl_moving_18.png</string>
				<string>girl_moving_19.png</string>
				<string>girl_moving_20.png</string>
				<string>girl_moving_21.png</string>
				<string>girl_moving_22.png</string>
				<string>girl_moving_23.png</string>
				<string>girl_moving_24.png</string>
				<string>girl_moving_25.png</string>
				<string>girl_moving_26.png</string>
				<string>girl_moving_27.png</string>
				<string>girl_moving_28.png</string>
				<string>girl_moving_29.png</string>
				<string>girl_moving_30.png</string>
				<string>girl_moving_31.png</string>
				<string>girl_moving_32.png</string>
				<string>girl_moving_33.png</string>
				<string>girl_moving_34.png</string>
				<string>girl_moving_35.png</string>
				<string>girl_moving_36.png</string>
				<string>girl_moving_37.png</string>
				<string>girl_moving_38.png</string>
				<string>girl_moving_39.png</string>
				<string>girl_moving_40.png</string>
				<string>girl_moving_41.png</string>
				<string>girl_moving_42.png</string>
				<string>girl_moving_43.png</string>
				<string>girl_moving_44.png</string>
				<string>girl_moving_45.png</string>
				<string>girl_moving_46.png</string>
				<string>girl_moving_47.png</string>
				<string>girl_moving_48.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>girl_casting</key>
		<dict>
			<key>frames</key>
			<array>
				<string>girl_casting_0.png</string>
				<string>girl_casting_1.png</string>
				<string>girl_casting_2.png</string>
				<string>girl_casting_3.png</string>
				<string>girl_casting_4.png</string>
				<string>girl_casting_5.png</string>
				<string>girl_casting_6.png</string>
				<string>girl_casting_7.png</string>
				<string>girl_casting_8.png</string>
				<string>girl_casting_9.png</string>
				<string>girl_casting_10.png</string>
				<string>girl_casting_11.png</string>
				<string>girl_casting_12.png</string>
				<string>girl_casting_13.png</string>
				<string>girl_casting_14.png</string>
				<string>girl_casting_15.png</string>
				<string>girl_casting_16.png</string>
				<string>girl_casting_17.png</string>
				<string>girl_casting_18.png</string>
				<string>girl_casting_19.png</string>
				<string>girl_casting_20.png</string>
				<string>girl_casting_21.png</string>
				<string>girl_casting_22.png</string>
				<string>girl_casting_23.png</string>
				<string>girl_casting_24.png</string>
				<string>girl_casting_25.png</string>
				<string>girl_casting_26.png</string>
				<string>girl_casting_27.png</string>
				<string>girl_casting_28.png</string>
				<string>girl_casting_29.png</string>
				<string>girl_casting_30.png</string>
				<string>girl_casting_31.png</string>
				<string>girl_casting_32.png</string>
				<string>girl_casting_33.png</string>
				<string>girl_casting_34.png</string>
				<string>girl_casting_35.png</string>
				<string>girl_casting_36.png</string>
				<string>girl_casting_37.png</string>
				<string>girl_casting_38.png</string>
				<string>girl_casting_39.png</string>
				<string>girl_casting_40.png</string>
				<string>girl_casting_41.png</string>
				<string>girl_casting_42.png</string>
				<string>girl_casting_43.png</string>
				<string>girl_casting_44.png</string>
				<string>girl_casting_45.png</string>
				<string>girl_casting_46.png</string>
				<string>girl_casting_47.png</string>
				<string>girl_casting_48.png</string>
				<string>girl_casting_49.png</string>
				<string>girl_casting_50.png</string>
				<string>girl_casting_51.png</string>
				<string>girl_casting_52.png</string>
				<string>girl_casting_53.png</string>
				<string>girl_casting_54.png</string>
				<string>girl_casting_55.png</string>
				<string>girl_casting_56.png</string>
				<string>girl_casting_57.png</string>
				<string>girl_casting_58.png</string>
				<string>girl_casting_59.png</string>
				<string>girl_casting_60.png</string>
				<string>girl_casting_61.png</string>
				<string>girl_casting_62.png</string>
				<string>girl_casting_63.png</string>
				<string>girl_casting_64.png</string>
				<string>girl_casting_65.png</string>
				<string>girl_casting_66.png</string>
				<string>girl_casting_67.png</string>
				<string>girl_casting_68.png</string>
				<string>girl_casting_69.png</string>
				<string>girl_casting_70.png</string>
				<string>girl_casting_71.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>boy_casting</key>
		<dict>
			<key>frames</key>
			<array>
				<string>boy_casting_0.png</string>
				<string>boy_casting_1.png</string>
				<string>boy_casting_2.png</string>
				<string>boy_casting_3.png</string>
				<string>boy_casting_4.png</string>
				<string>boy_casting_5.png</string>
				<string>boy_casting_6.png</string>
				<string>boy_casting_7.png</string>
				<string>boy_casting_8.png</string>
				<string>boy_casting_9.png</string>
				<string>boy_casting_10.png</string>
				<string>boy_casting_11.png</string>
				<string>boy_casting_12.png</string>
				<string>boy_casting_13.png</string>
				<string>boy_casting_14.png</string>
				<string>boy_casting_15.png</string>
				<string>boy_casting_16.png</string>
				<string>boy_casting_17.png</string>
				<string>boy_casting_18.png</string>
				<string>boy_casting_19.png</string>
				<string>boy_casting_20.png</string>
				<string>boy_casting_21.png</string>
				<string>boy_casting_22.png</string>
				<string>boy_casting_23.png</string>
				<string>boy_casting_24.png</string>
				<string>boy_casting_25.png</string>
				<string>boy_casting_26.png</string>
				<string>boy_casting_27.png</string>
				<string>boy_casting_28.png</string>
				<string>boy_casting_29.png</string>
				<string>boy_casting_30.png</string>
				<string>boy_casting_31.png</string>
				<string>boy_casting_32.png</string>
				<string>boy_casting_33.png</string>
				<string>boy_casting_34.png</string>
				<string>boy_casting_35.png</string>
				<string>boy_casting_36.png</string>
				<string>boy_casting_37.png</string>
				<string>boy_casting_38.png</string>
				<string>boy_casting_39.png</string>
				<string>boy_casting_40.png</string>
				<string>boy_casting_41.png</string>
				<string>boy_casting_42.png</string>
				<string>boy_casting_43.png</string>
				<string>boy_casting_44.png</string>
				<string>boy_casting_45.png</string>
				<string>boy_casting_46.png</string>
				<string>boy_casting_47.png</string>
				<string>boy_casting_48.png</string>
				<string>boy_casting_49.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>boy_attacked</key>
		<dict>
			<key>frames</key>
			<array>
				<string>boy_attacked_0.png</string>
				<string>boy_attacked_1.png</string>
				<string>boy_attacked_2.png</string>
				<string>boy_attacked_3.png</string>
				<string>boy_attacked_4.png</string>
				<string>boy_attacked_5.png</string>
				<string>boy_attacked_6.png</string>
				<string>boy_attacked_7.png</string>
				<string>boy_attacked_8.png</string>
				<string>boy_attacked_9.png</string>
				<string>boy_attacked_10.png</string>
				<string>boy_attacked_11.png</string>
				<string>boy_attacked_12.png</string>
				<string>boy_attacked_13.png</string>
				<string>boy_attacked_14.png</string>
				<string>boy_attacked_15.png</string>
				<string>boy_attacked_16.png</string>
				<string>boy_attacked_17.png</string>
				<string>boy_attacked_18.png</string>
				<string>boy_attacked_19.png</string>
				<string>boy_attacked_20.png</string>
				<string>boy_attacked_21.png</string>
				<string>boy_attacked_22.png</string>
				<string>boy_attacked_23.png</string>
				<string>boy_attacked_24.png</string>
				<string>boy_attacked_25.png</string>
				<string>boy_attacked_26.png</string>
				<string>boy_attacked_27.png</string>
				<string>boy_attacked_28.png</string>
				<string>boy_attacked_29.png</string>
				<string>boy_attacked_30.png</string>
				<string>boy_attacked_31.png</string>
				<string>boy_attacked_32.png</string>
				<string>boy_attacked_33.png</string>
				<string>boy_attacked_34.png</string>
				<string>boy_attacked_35.png</string>
				<string>boy_attacked_36.png</string>
				<string>boy_attacked_37.png</string>
				<string>boy_attacked_38.png</string>
				<string>boy_attacked_39.png</string>
				<string>boy_attacked_40.png</string>
				<string>boy_attacked_41.png</string>
				<string>boy_attacked_42.png</string>
				<string>boy_attacked_43.png</string>
				<string>boy_attacked_44.png</string>
				<string>boy_attacked_45.png</string>
				<string>boy_attacked_46.png</string>
				<string>boy_attacked_47.png</string>
				<string>boy_attacked_48.png</string>
				<string>boy_attacked_49.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>boy_attacking</key>
		<dict>
			<key>frames</key>
			<array>
				<string>boy_attacking_0.png</string>
				<string>boy_attacking_1.png</string>
				<string>boy_attacking_2.png</string>
				<string>boy_attacking_3.png</string>
				<string>boy_attacking_4.png</string>
				<string>boy_attacking_5.png</string>
				<string>boy_attacking_6.png</string>
				<string>boy_attacking_7.png</string>
				<string>boy_attacking_8.png</string>
				<string>boy_attacking_9.png</string>
				<string>boy_attacking_10.png</string>
				<string>boy_attacking_11.png</string>
				<string>boy_attacking_12.png</string>
				<string>boy_attacking_13.png</string>
				<string>boy_attacking_14.png</string>
				<string>boy_attacking_15.png</string>
				<string>boy_attacking_16.png</string>
				<string>boy_attacking_17.png</string>
				<string>boy_attacking_18.png</string>
				<string>boy_attacking_19.png</string>
				<string>boy_attacking_20.png</string>
				<string>boy_attacking_21.png</string>
				<string>boy_attacking_22.png</string>
				<string>boy_attacking_23.png</string>
				<string>boy_attacking_24.png</string>
				<string>boy_attacking_25.png</string>
				<string>boy_attacking_26.png</string>
				<string>boy_attacking_27.png</string>
				<string>boy_attacking_28.png</string>
				<string>boy_attacking_29.png</string>
				<string>boy_attacking_30.png</string>
				<string>boy_attacking_31.png</string>
				<string>boy_attacking_32.png</string>
				<string>boy_attacking_33.png</string>
				<string>boy_attacking_34.png</string>
				<string>boy_attacking_35.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>boy_idle</key>
		<dict>
			<key>frames</key>
			<array>
				<string>boy_idle_0.png</string>
				<string>boy_idle_1.png</string>
				<string>boy_idle_2.png</string>
				<string>boy_idle_3.png</string>
				<string>boy_idle_4.png</string>
				<string>boy_idle_5.png</string>
				<string>boy_idle_6.png</string>
				<string>boy_idle_7.png</string>
				<string>boy_idle_8.png</string>
				<string>boy_idle_9.png</string>
				<string>boy_idle_10.png</string>
				<string>boy_idle_11.png</string>
				<string>boy_idle_12.png</string>
				<string>boy_idle_13.png</string>
				<string>boy_idle_14.png</string>
				<string>boy_idle_15.png</string>
				<string>boy_idle_16.png</string>
				<string>boy_idle_17.png</string>
				<string>boy_idle_18.png</string>
				<string>boy_idle_19.png</string>
				<string>boy_idle_20.png</string>
				<string>boy_idle_21.png</string>
				<string>boy_idle_22.png</string>
				<string>boy_idle_23.png</string>
				<string>boy_idle_24.png</string>
				<string>boy_idle_25.png</string>
				<string>boy_idle_26.png</string>
				<string>boy_idle_27.png</string>
				<string>boy_idle_28.png</string>
				<string>boy_idle_29.png</string>
				<string>boy_idle_30.png</string>
				<string>boy_idle_31.png</string>
				<string>boy_idle_32.png</string>
				<string>boy_idle_33.png</string>
				<string>boy_idle_34.png</string>
				<string>boy_idle_35.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>boy_dead</key>
		<dict>
			<key>frames</key>
			<array>
				<string>boy_dead_0.png</string>
				<string>boy_dead_1.png</string>
				<string>boy_dead_2.png</string>
				<string>boy_dead_3.png</string>
				<string>boy_dead_4.png</string>
				<string>boy_dead_5.png</string>
				<string>boy_dead_6.png</string>
				<string>boy_dead_7.png</string>
				<string>boy_dead_8.png</string>
				<string>boy_dead_9.png</string>
				<string>boy_dead_10.png</string>
				<string>boy_dead_11.png</string>
				<string>boy_dead_12.png</string>
				<string>boy_dead_13.png</string>
				<string>boy_dead_14.png</string>
				<string>boy_dead_15.png</string>
				<string>boy_dead_16.png</string>
				<string>boy_dead_17.png</string>
				<string>boy_dead_18.png</string>
				<string>boy_dead_19.png</string>
				<string>boy_dead_20.png</string>
				<string>boy_dead_21.png</string>
				<string>boy_dead_22.png</string>
				<string>boy_dead_23.png</string>
				<string>boy_dead_24.png</string>
				<string>boy_dead_25.png</string>
				<string>boy_dead_26.png</string>
				<string>boy_dead_27.png</string>
				<string>boy_dead_28.png</string>
				<string>boy_dead_29.png</string>
				<string>boy_dead_30.png</string>
				<string>boy_dead_31.png</string>
				<string>boy_dead_32.png</string>
				<string>boy_dead_33.png</string>
				<string>boy_dead_34.png</string>
				<string>boy_dead_35.png</string>
				<string>boy_dead_36.png</string>
				<string>boy_dead_37.png</string>
				<string>boy_dead_38.png</string>
				<string>boy_dead_39.png</string>
				<string>boy_dead_40.png</string>
				<string>boy_dead_41.png</string>
				<string>boy_dead_42.png</string>
				<string>boy_dead_43.png</string>
				<string>boy_dead_44.png</string>
				<string>boy_dead_45.png</string>
				<string>boy_dead_46.png</string>
				<string>boy_dead_47.png</string>
				<string>boy_dead_48.png</string>
				<string>boy_dead_49.png</string>
				<string>boy_dead_50.png</string>
				<string>boy_dead_51.png</string>
				<string>boy_dead_52.png</string>
				<string>boy_dead_53.png</string>
				<string>boy_dead_54.png</string>
				<string>boy_dead_55.png</string>
				<string>boy_dead_56.png</string>
				<string>boy_dead_57.png</string>
				<string>boy_dead_58.png</string>
				<string>boy_dead_59.png</string>
				<string>boy_dead_60.png</string>
				<string>boy_dead_61.png</string>
				<string>boy_dead_62.png</string>
				<string>boy_dead_63.png</string>
				<string>boy_dead_64.png</string>
				<string>boy_dead_65.png</string>
				<string>boy_dead_66.png</string>
				<string>boy_dead_67.png</string>
				<string>boy_dead_68.png</string>
				<string>boy_dead_69.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>boy_fire</key>
		<dict>
			<key>frames</key>
			<array>
				<string>boy_fire_0.png</string>
				<string>boy_fire_1.png</string>
				<string>boy_fire_2.png</string>
				<string>boy_fire_3.png</string>
				<string>boy_fire_4.png</string>
				<string>boy_fire_5.png</string>
				<string>boy_fire_6.png</string>
				<string>boy_fire_7.png</string>
				<string>boy_fire_8.png</string>
				<string>boy_fire_9.png</string>
				<string>boy_fire_10.png</string>
				<string>boy_fire_11.png</string>
				<string>boy_fire_12.png</string>
				<string>boy_fire_13.png</string>
				<string>boy_fire_14.png</string>
				<string>boy_fire_15.png</string>
				<string>boy_fire_16.png</string>
				<string>boy_fire_17.png</string>
				<string>boy_fire_18.png</string>
				<string>boy_fire_19.png</string>
				<string>boy_fire_20.png</string>
				<string>boy_fire_21.png</string>
				<string>boy_fire_22.png</string>
				<string>boy_fire_23.png</string>
				<string>boy_fire_24.png</string>
				<string>boy_fire_25.png</string>
				<string>boy_fire_26.png</string>
				<string>boy_fire_27.png</string>
				<string>boy_fire_28.png</string>
				<string>boy_fire_29.png</string>
				<string>boy_fire_30.png</string>
				<string>boy_fire_31.png</string>
				<string>boy_fire_32.png</string>
				<string>boy_fire_33.png</string>
				<string>boy_fire_34.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
		<key>boy_moving</key>
		<dict>
			<key>frames</key>
			<array>
				<string>boy_moving_0.png</string>
				<string>boy_moving_1.png</string>
				<string>boy_moving_2.png</string>
				<string>boy_moving_3.png</string>
				<string>boy_moving_4.png</string>
				<string>boy_moving_5.png</string>
				<string>boy_moving_6.png</string>
				<string>boy_moving_7.png</string>
				<string>boy_moving_8.png</string>
				<string>boy_moving_9.png</string>
				<string>boy_moving_10.png</string>
				<string>boy_moving_11.png</string>
				<string>boy_moving_12.png</string>
				<string>boy_moving_13.png</string>
				<string>boy_moving_14.png</string>
				<string>boy_moving_15.png</string>
				<string>boy_moving_16.png</string>
				<string>boy_moving_17.png</string>
				<string>boy_moving_18.png</string>
				<string>boy_moving_19.png</string>
				<string>boy_moving_20.png</string>
				<string>boy_moving_21.png</string>
				<string>boy_moving_22.png</string>
				<string>boy_moving_23.png</string>
				<string>boy_moving_24.png</string>
				<string>boy_moving_25.png</string>
				<string>boy_moving_26.png</string>
				<string>boy_moving_27.png</string>
				<string>boy_moving_28.png</string>
				<string>boy_moving_29.png</string>
				<string>boy_moving_30.png</string>
				<string>boy_moving_31.png</string>
				<string>boy_moving_32.png</string>
				<string>boy_moving_33.png</string>
				<string>boy_moving_34.png</string>
				<string>boy_moving_35.png</string>
				<string>boy_moving_36.png</string>
			</array>
			<key>delay</key>
			<real>0.04</real>
		</dict>
	</dict>
</dict>
</plist>
