<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>fireBall</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>fireBall0.png</string>
				<string>fireBall1.png</string>
				<string>fireBall2.png</string>
				<string>fireBall3.png</string>
				<string>fireBall4.png</string>
				<string>fireBall5.png</string>
				<string>fireBall6.png</string>
				<string>fireBall7.png</string>
				<string>fireBall8.png</string>
				<string>fireBall9.png</string>
				<string>fireBall10.png</string>
				<string>fireBall11.png</string>
				<string>fireBall12.png</string>
			</array>
		</dict>
		<key>explosion</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>bigExplosion0.png</string>
				<string>bigExplosion1.png</string>
				<string>bigExplosion2.png</string>
				<string>bigExplosion3.png</string>
				<string>bigExplosion4.png</string>
				<string>bigExplosion5.png</string>
				<string>bigExplosion6.png</string>
				<string>bigExplosion7.png</string>
				<string>bigExplosion8.png</string>
				<string>bigExplosion9.png</string>
				<string>bigExplosion10.png</string>
				<string>bigExplosion11.png</string>
				<string>bigExplosion12.png</string>
				<string>bigExplosion13.png</string>
				<string>bigExplosion14.png</string>
			</array>
		</dict>
		<key>meteor</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>meteor0.png</string>
				<string>meteor1.png</string>
				<string>meteor2.png</string>
				<string>meteor3.png</string>
				<string>meteor4.png</string>
				<string>meteor5.png</string>
				<string>meteor6.png</string>
				<string>meteor7.png</string>
				<string>meteor8.png</string>
				<string>meteor9.png</string>
				<string>meteor10.png</string>
				<string>meteor11.png</string>
			</array>
		</dict>
		<key>iceCrystalize</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>iceCrystalize0.png</string>
				<string>iceCrystalize1.png</string>
				<string>iceCrystalize2.png</string>
				<string>iceCrystalize3.png</string>
				<string>iceCrystalize4.png</string>
				<string>iceCrystalize5.png</string>
				<string>iceCrystalize6.png</string>
				<string>iceCrystalize7.png</string>
				<string>iceCrystalize8.png</string>
				<string>iceCrystalize9.png</string>
				<string>iceCrystalize10.png</string>
				<string>iceCrystalize11.png</string>
				<string>iceCrystalize12.png</string>
			</array>
		</dict>
		<key>iceField</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>iceField0.png</string>
				<string>iceField1.png</string>
				<string>iceField2.png</string>
				<string>iceField3.png</string>
				<string>iceField4.png</string>
				<string>iceField5.png</string>
				<string>iceField6.png</string>
				<string>iceField7.png</string>
				<string>iceField8.png</string>
				<string>iceField9.png</string>
				<string>iceField10.png</string>
				<string>iceField11.png</string>
				<string>iceField12.png</string>
				<string>iceField13.png</string>
				<string>iceField14.png</string>
				<string>iceField15.png</string>
				<string>iceField16.png</string>
				<string>iceField17.png</string>
				<string>iceField18.png</string>
				<string>iceField19.png</string>
				<string>iceField20.png</string>
				<string>iceField21.png</string>
				<string>iceField22.png</string>
				<string>iceField23.png</string>
				<string>iceField24.png</string>
				<string>iceField25.png</string>
				<string>iceField26.png</string>
				<string>iceField27.png</string>
				<string>iceField28.png</string>
				<string>iceField29.png</string>
				<string>iceField30.png</string>
			</array>
		</dict>
		<key>iceSpear</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>iceSpear0.png</string>
				<string>iceSpear1.png</string>
				<string>iceSpear2.png</string>
				<string>iceSpear3.png</string>
				<string>iceSpear4.png</string>
				<string>iceSpear5.png</string>
				<string>iceSpear6.png</string>
				<string>iceSpear7.png</string>
				<string>iceSpear8.png</string>
				<string>iceSpear9.png</string>
				<string>iceSpear10.png</string>
				<string>iceSpear11.png</string>
				<string>iceSpear12.png</string>
				<string>iceSpear13.png</string>
				<string>iceSpear14.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
