<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stages</key>
	<array>
		<dict>
			<key>name_kr</key>
			<string>콜로세움</string>
			<key>recommended_level</key>
			<integer>1</integer>
			<key>stage_type</key>
			<integer>3</integer>
			<key>description_kr</key>
			<string>사람들과 전투를 할 수 있셈</string>
		</dict>
		<dict>
			<key>name_kr</key>
			<string>버섯밭</string>
			<key>recommended_level</key>
			<integer>1</integer>
			<key>stage_type</key>
			<integer>4</integer>
			<key>description_kr</key>
			<string>상아탑으로 가는 길. 버섯밭에는 버섯들이 많죠</string>
		</dict>
		<dict>
			<key>name_kr</key>
			<string>늑대의 숲</string>
			<key>recommended_level</key>
			<integer>15</integer>
			<key>stage_type</key>
			<integer>11</integer>
			<key>description_kr</key>
			<string>하얀 늑대가 있다고 하는 기괴한 숲이에요</string>
		</dict>
	</array>
</dict>
</plist>
