<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>girl_moving_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 269}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 448}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 448}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 448}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 359}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {61, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{61, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 270}, {61, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 359}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 447}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 359}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 447}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{191, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 179}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 269}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{387, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 270}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 449}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 358}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{315, 536}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 536}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {61, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{61, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 360}, {61, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {61, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{61, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{317, 358}, {61, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 447}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 269}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 270}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 269}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 179}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{257, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{447, 90}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 358}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 359}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 269}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 180}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>girl_moving_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {63, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{63, 89}</string>
			<key>spriteSourceSize</key>
			<string>{67, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 448}, {63, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>girl_moving</string>
		<key>textureFileName</key>
		<string>girl_moving.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>