<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>kingspider_attacking_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1207, 688}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 37}, {296, 231}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{296, 231}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1195, 919}, {296, 231}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 37}, {306, 229}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{306, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{921, 0}, {306, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 37}, {304, 227}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{304, 227}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1227, 229}, {304, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 471}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1216, 457}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{597, 1152}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{610, 459}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 933}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 700}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{918, 231}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 702}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 37}, {300, 229}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{300, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{309, 238}, {300, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{895, 924}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 469}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{897, 693}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{597, 921}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 690}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 931}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 26}, {304, 237}}</string>
			<key>spriteOffset</key>
			<string>{-5, 9}</string>
			<key>spriteSize</key>
			<string>{304, 237}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{309, 0}, {304, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 19}, {306, 239}}</string>
			<key>spriteOffset</key>
			<string>{-6, 15}</string>
			<key>spriteSize</key>
			<string>{306, 239}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {306, 239}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 37}, {296, 231}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{296, 231}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{909, 462}, {296, 231}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 37}, {304, 229}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{304, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1227, 0}, {304, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 37}, {306, 229}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{306, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{615, 0}, {306, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 37}, {300, 227}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{300, 227}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{615, 231}, {300, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacking_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 37}, {298, 229}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{298, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 241}, {298, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1536, 1536}</string>
		<key>name</key>
		<string>kingspider_attacking</string>
		<key>textureFileName</key>
		<string>kingspider_attacking.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>
