<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>kingspider_attacked_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 37}, {302, 229}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{302, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{633, 0}, {302, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 37}, {302, 229}}</string>
			<key>spriteOffset</key>
			<string>{-3, 2}</string>
			<key>spriteSize</key>
			<string>{302, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{937, 229}, {302, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 913}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1195, 459}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 459}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{895, 912}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 459}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1194, 685}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 687}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1194, 912}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{597, 912}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 687}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 37}, {300, 227}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{300, 227}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 231}, {300, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{897, 459}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1140}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 913}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{597, 1138}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{597, 685}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{895, 685}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 37}, {300, 227}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{300, 227}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 231}, {300, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 37}, {298, 227}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{298, 227}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 459}, {298, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 37}, {298, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{298, 225}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 1140}, {298, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 37}, {302, 227}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{302, 227}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 231}, {302, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 37}, {308, 229}}</string>
			<key>spriteOffset</key>
			<string>{-6, 2}</string>
			<key>spriteSize</key>
			<string>{308, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 0}, {308, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 37}, {322, 229}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{322, 229}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {322, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kingspider_attacked_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 37}, {304, 227}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{304, 227}</string>
			<key>spriteSourceSize</key>
			<string>{322, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{937, 0}, {304, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1536, 1536}</string>
		<key>name</key>
		<string>kingspider_attacked</string>
		<key>textureFileName</key>
		<string>kingspider_attacked.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>
