<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>mushroom_attacking_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 48}, {127, 120}}</string>
			<key>spriteOffset</key>
			<string>{14, -23}</string>
			<key>spriteSize</key>
			<string>{127, 120}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{530, 0}, {127, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 48}, {127, 120}}</string>
			<key>spriteOffset</key>
			<string>{14, -23}</string>
			<key>spriteSize</key>
			<string>{127, 120}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 125}, {127, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 26}, {143, 142}}</string>
			<key>spriteOffset</key>
			<string>{-1, -12}</string>
			<key>spriteSize</key>
			<string>{143, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 295}, {143, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 42}, {133, 126}}</string>
			<key>spriteOffset</key>
			<string>{5, -20}</string>
			<key>spriteSize</key>
			<string>{133, 126}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 133}, {133, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 62}, {123, 106}}</string>
			<key>spriteOffset</key>
			<string>{9, -30}</string>
			<key>spriteSize</key>
			<string>{123, 106}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{531, 122}, {123, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 78}, {121, 90}}</string>
			<key>spriteOffset</key>
			<string>{13, -38}</string>
			<key>spriteSize</key>
			<string>{121, 90}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 417}, {121, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 77}, {121, 92}}</string>
			<key>spriteOffset</key>
			<string>{13, -38}</string>
			<key>spriteSize</key>
			<string>{121, 92}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 417}, {121, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 68}, {121, 100}}</string>
			<key>spriteOffset</key>
			<string>{13, -33}</string>
			<key>spriteSize</key>
			<string>{121, 100}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{640, 361}, {121, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 56}, {123, 112}}</string>
			<key>spriteOffset</key>
			<string>{13, -27}</string>
			<key>spriteSize</key>
			<string>{123, 112}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{524, 247}, {123, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 44}, {125, 124}}</string>
			<key>spriteOffset</key>
			<string>{13, -21}</string>
			<key>spriteSize</key>
			<string>{125, 124}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{271, 261}, {125, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 37}, {127, 132}}</string>
			<key>spriteOffset</key>
			<string>{14, -18}</string>
			<key>spriteSize</key>
			<string>{127, 132}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 0}, {127, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 36}, {127, 132}}</string>
			<key>spriteOffset</key>
			<string>{14, -17}</string>
			<key>spriteSize</key>
			<string>{127, 132}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 284}, {127, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 47}, {127, 122}}</string>
			<key>spriteOffset</key>
			<string>{14, -23}</string>
			<key>spriteSize</key>
			<string>{127, 122}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{513, 384}, {127, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 46}, {127, 122}}</string>
			<key>spriteOffset</key>
			<string>{14, -22}</string>
			<key>spriteSize</key>
			<string>{127, 122}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 261}, {127, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 46}, {127, 122}}</string>
			<key>spriteOffset</key>
			<string>{14, -22}</string>
			<key>spriteSize</key>
			<string>{127, 122}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 386}, {127, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 45}, {127, 124}}</string>
			<key>spriteOffset</key>
			<string>{14, -22}</string>
			<key>spriteSize</key>
			<string>{127, 124}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 0}, {127, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 44}, {125, 124}}</string>
			<key>spriteOffset</key>
			<string>{13, -21}</string>
			<key>spriteSize</key>
			<string>{125, 124}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{403, 0}, {125, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 35}, {129, 134}}</string>
			<key>spriteOffset</key>
			<string>{7, -17}</string>
			<key>spriteSize</key>
			<string>{129, 134}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{141, 149}, {129, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 24}, {141, 144}}</string>
			<key>spriteOffset</key>
			<string>{1, -11}</string>
			<key>spriteSize</key>
			<string>{141, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 149}, {141, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacking_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 21}, {147, 148}}</string>
			<key>spriteOffset</key>
			<string>{-3, -10}</string>
			<key>spriteSize</key>
			<string>{147, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {147, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>mushroom_attacking</string>
		<key>textureFileName</key>
		<string>mushroom_attacking.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>