<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>mushroom_idle_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 17}, {135, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{135, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{540, 289}, {135, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 17}, {135, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{135, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 289}, {135, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 17}, {135, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{135, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 290}, {135, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 17}, {135, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{135, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{540, 431}, {135, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 17}, {135, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{135, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 433}, {135, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 17}, {135, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{135, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 431}, {135, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 16}, {135, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{135, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 289}, {135, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 15}, {135, 144}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{135, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 145}, {135, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {135, 144}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{135, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 145}, {135, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {135, 144}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{135, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{810, 0}, {135, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {135, 144}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{135, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 0}, {135, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {135, 144}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{135, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 0}, {135, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 16}, {135, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{135, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{675, 288}, {135, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 15}, {135, 144}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{135, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 145}, {135, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 16}, {135, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{135, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 289}, {135, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 17}, {135, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{135, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 432}, {135, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 17}, {135, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{135, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{675, 431}, {135, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 17}, {135, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{135, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 432}, {135, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 15}, {135, 144}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{135, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 145}, {135, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 15}, {135, 144}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{135, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{675, 0}, {135, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {135, 144}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{135, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{540, 0}, {135, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {135, 144}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{135, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {135, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {135, 144}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{135, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 0}, {135, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 15}, {135, 144}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{135, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{540, 145}, {135, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_idle_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 16}, {135, 142}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{135, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{675, 145}, {135, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>mushroom_idle</string>
		<key>textureFileName</key>
		<string>mushroom_idle.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>