<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>mushroom_attacked_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {139, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{139, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{440, 148}, {139, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {139, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{139, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{585, 444}, {139, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 21}, {149, 140}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{149, 140}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {149, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 22}, {149, 138}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{149, 138}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 140}, {149, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 24}, {149, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{149, 136}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 148}, {149, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 27}, {149, 132}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{149, 132}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 278}, {149, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 30}, {149, 130}}</string>
			<key>spriteOffset</key>
			<string>{1, -10}</string>
			<key>spriteSize</key>
			<string>{149, 130}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 284}, {149, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 32}, {149, 128}}</string>
			<key>spriteOffset</key>
			<string>{1, -11}</string>
			<key>spriteSize</key>
			<string>{149, 128}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 411}, {149, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 30}, {147, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -10}</string>
			<key>spriteSize</key>
			<string>{147, 130}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 538}, {147, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 21}, {143, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{143, 140}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 667}, {143, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 15}, {139, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{139, 146}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{722, 148}, {139, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {139, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{139, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 296}, {139, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 14}, {141, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{141, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{581, 148}, {141, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {139, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{139, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 444}, {139, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {139, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{139, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 700}, {139, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {139, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{139, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 584}, {139, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {139, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{139, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 807}, {139, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {139, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{139, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{438, 0}, {139, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {139, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{139, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{579, 0}, {139, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {139, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{139, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 0}, {139, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 14}, {141, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{141, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 148}, {141, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {143, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{143, 146}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 0}, {143, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {143, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{143, 146}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 0}, {143, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 15}, {145, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{145, 146}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 554}, {145, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {147, 144}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{147, 144}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{297, 439}, {147, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 18}, {147, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{147, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 296}, {147, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_attacked_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 20}, {149, 140}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{149, 140}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 413}, {149, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>mushroom_attacked</string>
		<key>textureFileName</key>
		<string>mushroom_attacked.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>
