<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>mushroom_dead_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {139, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{139, 156}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 0}, {139, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {139, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{139, 156}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{291, 156}, {139, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 21}, {149, 148}}</string>
			<key>spriteOffset</key>
			<string>{1, -10}</string>
			<key>spriteSize</key>
			<string>{149, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 156}, {149, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 22}, {149, 148}}</string>
			<key>spriteOffset</key>
			<string>{1, -11}</string>
			<key>spriteSize</key>
			<string>{149, 148}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 304}, {149, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 24}, {149, 146}}</string>
			<key>spriteOffset</key>
			<string>{1, -12}</string>
			<key>spriteSize</key>
			<string>{149, 146}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 451}, {149, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 27}, {149, 142}}</string>
			<key>spriteOffset</key>
			<string>{1, -13}</string>
			<key>spriteSize</key>
			<string>{149, 142}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 451}, {149, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 30}, {149, 140}}</string>
			<key>spriteOffset</key>
			<string>{1, -15}</string>
			<key>spriteSize</key>
			<string>{149, 140}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 312}, {149, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 32}, {149, 138}}</string>
			<key>spriteOffset</key>
			<string>{1, -16}</string>
			<key>spriteSize</key>
			<string>{149, 138}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 429}, {149, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 32}, {149, 138}}</string>
			<key>spriteOffset</key>
			<string>{1, -16}</string>
			<key>spriteSize</key>
			<string>{149, 138}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 596}, {149, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 32}, {149, 138}}</string>
			<key>spriteOffset</key>
			<string>{1, -16}</string>
			<key>spriteSize</key>
			<string>{149, 138}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{577, 566}, {149, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 32}, {149, 138}}</string>
			<key>spriteOffset</key>
			<string>{1, -16}</string>
			<key>spriteSize</key>
			<string>{149, 138}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 733}, {149, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 32}, {149, 138}}</string>
			<key>spriteOffset</key>
			<string>{1, -16}</string>
			<key>spriteSize</key>
			<string>{149, 138}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 593}, {149, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 14}, {141, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{141, 156}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{289, 0}, {141, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 32}, {147, 138}}</string>
			<key>spriteOffset</key>
			<string>{1, -16}</string>
			<key>spriteSize</key>
			<string>{147, 138}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 619}, {147, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 32}, {139, 138}}</string>
			<key>spriteOffset</key>
			<string>{1, -16}</string>
			<key>spriteSize</key>
			<string>{139, 138}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 730}, {139, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 31}, {135, 138}}</string>
			<key>spriteOffset</key>
			<string>{5, -15}</string>
			<key>spriteSize</key>
			<string>{135, 138}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{724, 146}, {135, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 24}, {131, 146}}</string>
			<key>spriteOffset</key>
			<string>{8, -12}</string>
			<key>spriteSize</key>
			<string>{131, 146}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{724, 285}, {131, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 24}, {131, 146}}</string>
			<key>spriteOffset</key>
			<string>{8, -12}</string>
			<key>spriteSize</key>
			<string>{131, 146}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 566}, {131, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 128}, {125, 42}}</string>
			<key>spriteOffset</key>
			<string>{5, -64}</string>
			<key>spriteSize</key>
			<string>{125, 42}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{571, 150}, {125, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 24}, {131, 146}}</string>
			<key>spriteOffset</key>
			<string>{8, -12}</string>
			<key>spriteSize</key>
			<string>{131, 146}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{592, 232}, {131, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 24}, {131, 146}}</string>
			<key>spriteOffset</key>
			<string>{8, -12}</string>
			<key>spriteSize</key>
			<string>{131, 146}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{851, 0}, {131, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 24}, {131, 146}}</string>
			<key>spriteOffset</key>
			<string>{8, -12}</string>
			<key>spriteSize</key>
			<string>{131, 146}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{719, 0}, {131, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 128}, {125, 42}}</string>
			<key>spriteOffset</key>
			<string>{5, -64}</string>
			<key>spriteSize</key>
			<string>{125, 42}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 196}, {125, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 14}, {141, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{141, 156}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 156}, {141, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 128}, {125, 42}}</string>
			<key>spriteOffset</key>
			<string>{5, -64}</string>
			<key>spriteSize</key>
			<string>{125, 42}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 191}, {125, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 128}, {125, 42}}</string>
			<key>spriteOffset</key>
			<string>{5, -64}</string>
			<key>spriteSize</key>
			<string>{125, 42}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 155}, {125, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 128}, {125, 42}}</string>
			<key>spriteOffset</key>
			<string>{5, -64}</string>
			<key>spriteSize</key>
			<string>{125, 42}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 237}, {125, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {143, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{143, 156}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{145, 0}, {143, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {143, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{143, 156}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {143, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 15}, {145, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{145, 154}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 312}, {145, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {147, 152}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{147, 152}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 466}, {147, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 18}, {147, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{147, 152}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 278}, {147, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushroom_dead_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 20}, {149, 150}}</string>
			<key>spriteOffset</key>
			<string>{1, -10}</string>
			<key>spriteSize</key>
			<string>{149, 150}</string>
			<key>spriteSourceSize</key>
			<string>{155, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{571, 0}, {149, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>mushroom_dead</string>
		<key>textureFileName</key>
		<string>mushroom_dead.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>