<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>spider_moving_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 307}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 27}, {197, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{197, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 154}, {197, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 33}, {191, 145}}</string>
			<key>spriteOffset</key>
			<string>{-3, -3}</string>
			<key>spriteSize</key>
			<string>{191, 145}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 754}, {191, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 32}, {193, 147}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{193, 147}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{793, 303}, {193, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 30}, {193, 149}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{193, 149}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 154}, {193, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 29}, {193, 151}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{193, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{599, 307}, {193, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 28}, {193, 151}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{193, 151}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 154}, {193, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {193, 153}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{193, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 459}, {193, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {193, 153}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{193, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 616}, {193, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {193, 153}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{193, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{788, 458}, {193, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {193, 153}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{193, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{801, 0}, {193, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {195, 153}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{195, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 462}, {195, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 27}, {201, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{201, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 154}, {201, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {195, 153}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{195, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 459}, {195, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {197, 153}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{197, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 0}, {197, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 154}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 0}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 0}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {199, 153}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{199, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 308}, {199, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 24}, {205, 153}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{205, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {205, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 24}, {201, 153}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{201, 153}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 307}, {201, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 26}, {195, 149}}</string>
			<key>spriteOffset</key>
			<string>{7, 2}</string>
			<key>spriteSize</key>
			<string>{195, 149}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 462}, {195, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 29}, {195, 147}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{195, 147}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 612}, {195, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 32}, {195, 143}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{195, 143}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{788, 612}, {195, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 35}, {193, 141}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{193, 141}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 613}, {193, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spider_moving_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 34}, {193, 143}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{193, 143}</string>
			<key>spriteSourceSize</key>
			<string>{215, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 759}, {193, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>spider_moving</string>
		<key>textureFileName</key>
		<string>spider_moving.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>